extends ../../../../layouts/_layout__researches

block title
	title Multicontinuous Structres

block content
	.p-research--menu.u-mT20
		a(href="1minimal.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| 1
		.current 2
		a(href="3gyroid_growth_mov.html")
			| 3
			i.icon.ion-md-arrow-dropright-circle.u-mL10
	h2 Growth of the gyroid phase for A4B14C4 triblock copolymers
	img(src="Image/g-growth.gif", alt="", srcset="")
	img(src="Image/g-growth2peri.gif", alt="", srcset="")
	p サイエンスの研究をするのに化学だ、生物だ、物理だ、計算科学だ、数学だという分け隔ては不必要だ。
	p ここではオイラー数はネットワークの複雑さを表現するのにとても便利な指標となる。オイラー数が正のときは正曲率、すなわち構造は球状＝ドロップレット状である。ネットワークになると曲面は鞍型、負曲率になってオイラー数も負になる。最初は目の細かいネットワークになったらしく、穴の数が多いのでオイラー数は負に大きくなっている。規則構造になると単位格子あたり-8、ここではxyz方向2倍で全体で8倍、すなわち-64に落ち着いた。 
	p オイラー数は、曲面を格子の作る正方形からなる多面体と近似すると面（正方形）の数、辺の数、頂点の数を数えることで計算できる。微分幾何的な曲率という量と曲面の穴の数などトポロジーを結び付けるのがガウス・ボネの定理として知られていることを付け加えよう。