extends ../../../../layouts/_layout__researches

block title
	title Movies, Growth of the gyroid phase

block content
	.p-research--menu.u-mT20
		a(href="2gyroid_growth.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| 2
		.current 3
		a(href="4WhereHinD.html")
			| 4
			i.icon.ion-md-arrow-dropright-circle.u-mL10
	h2 Download: Movies for the growth of a gyroid phase for A4B14C4 triblock copolymers
	.u-flex__vertical.u-mT40
		img.u-mT0.u-mB0.u-mL0.u-mR20(src="/assets/images/research/ABC_linear/gyroid_A.gif", width='100px', height='100px')
		.div
			p A block network. The box size is L=52 in each direction. Images are monomer densities averaged over 1000 MCSs each 10000 MCSs at 1/kT=0.15. After the formation, upon lowering temperature, we see a smooth inerface.
			a.c-linktext(href="Movie/S-GcineS.mov") Quick Time Movie
	.u-flex__vertical.u-mT40
		img.u-mT0.u-mB0.u-mL0.u-mR20(src="/assets/images/research/ABC_linear/S-G3cineS.jpg", width='100px', height='100px')
		.div
			p A block network. The box size is L=75 in each direction.
			a.c-linktext(href="Movie/S-G3cine.mov") Quick Time Movie
	.u-flex__vertical.u-mT40
		img.u-mT0.u-mB0.u-mL0.u-mR20(src="/assets/images/research/ABC_linear/gyroid_AC.gif", width='100px', height='100px')
		.div
			p A block and C block interpenetrating networks. The trasparet area is B block region. Images are monomer densities averaged over 1000 MCSs each 10000 MCSs at 1/kT=0.15. After the formation, upon lowering temperature, we see a smooth inerface.
			a.c-linktext(href="Movie/D-GcineS.mov") Quick Time Movie
	.u-flex__vertical.u-mT40
		img.u-mT0.u-mB0.u-mL0.u-mR20(src="/assets/images/research/ABC_linear/D-G3cineS.jpg", width='100px', height='100px')
		.div
			p A block and C block interpenetrating networks. The box size is L=75 in each direction.
			a.c-linktext(href="Movie/D-G3cine.mov") Quick Time Movie
	.u-flex__vertical.u-mT40
		img.u-mT0.u-mB0.u-mL0.u-mR20(src="/assets/images/research/ABC_linear/gyroid_surface.gif", width='100px', height='100px')
		.div
			p Surface view.
			a.c-linktext(href="Movie/making-gy.mov") Quick Time Movie