header.l-header
  a(href='/'): img.l-header--logo(src='/assets/images/weblogo.png')
  .l-header--panel#js-menu-wrap
    nav.js-nav.l-header--nav: ul
      li: a(href='/pages/about/') About me
      li: a(href='/pages/news/') News & Topics
      li: a(href='/pages/publications/') Publications
      li: a(href='/pages/activity/') Activity
      li: a(href='/pages/laboratory/') Laboratory
      li: a(href='/pages/students/') Students
      li: a(href='/pages/research/') Research
      li: a(href='/pages/textbooks/') Textbooks
    i.icon.ion-md-close#js-close-menu
  .l-header--menu#js-open-menu
    i.icon.ion-md-menu
    p Menu