extends ../../../../layouts/_layout__researches

block title
  title ABCstar block copolymers

block content
  .p-research--menu.u-mT20
    a(href="2TriStar.html")
      i.icon.ion-md-arrow-dropleft-circle.u-mR10
      | 2
    .current 3
    a(href="4Archimedes.html")
      | 4
      i.icon.ion-md-arrow-dropright-circle.u-mL10
  img(src="/assets/images/research/ABCstar/ABCstarPD.gif")