extends ../../../../layouts/_layout__researches

block title
  title ABCstar block copolymers

block content
  .p-research--menu.u-mT20
    a(href="3phase_diagram.html")
      i.icon.ion-md-arrow-dropleft-circle.u-mR10
      | 3
    .current 4
    a(href="5ABCD.html")
      | 5
      i.icon.ion-md-arrow-dropright-circle.u-mL10
  img(src="/assets/images/research/ABCstar/Arc_tilings.gif")