extends ../../../../layouts/_layout__researches

block title
  title ABCstar block copolymers

block content
  .p-research--menu.u-mT20
    a(href="4Archimedes.html")
      i.icon.ion-md-arrow-dropleft-circle.u-mR10
      | 4
    .current 5
    a(href="6miscellaneous1.html")
      | 6
      i.icon.ion-md-arrow-dropright-circle.u-mL10
  img(src="Image/ABCDbcp.gif")