extends ../../../../layouts/_layout__researches

block title
  title ABCstar block copolymers

block content
  .p-research--menu.u-mT20
    a(href="5ABCD.html")
      i.icon.ion-md-arrow-dropleft-circle.u-mR10
      | 5
    .current 6
    a(href="1ABCstar.html")
      | 1
      i.icon.ion-md-arrow-dropright-circle.u-mL10
  img(src="Image/ABCstar+mis.gif")