extends ../../../../layouts/_layout__researches

block title
	title kepler-img0

block content
	.p-research--menu.u-mT20
		a(href="keplerHM6.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| previous
		p *
	img(src="/assets/images/research/ABCstar/kepler7.jpg")