extends ../../../../layouts/_layout__researches

block title
  title Beyond fabrics: Star-polymers weave a quasiperiodic pattern

block content 
  h2 Beyond fabrics: Star-polymers weave a quasiperiodic pattern
  p Tilings and patterns are known not only to mathematicians and crystallographers, but also to designers and visual artists as the basis of decorative art appearing on furniture, curtains, wall papers, kilts, ceramics, ties, etc. But, nowadays, a cutting-edge art could be self-organized patterning made up of star-polymers designed by scientists. Without fabrication technique, star-polymers can produce elegant self-assembled periodic and quasiperiodic patterns. We have been creating several complex but periodic patterns known as antique Archimedean tiling patterns, and finally, in this paper we show evidence of a "polymeric quasicrystal" tiling for the first time. Quasicrystals are the avant-garde structures that have noncrystallographic symmetry, and initiated a revolution of crystallography and solid-state physics in 1980's. Remarkably, our polymeric dodecagonal quasicrystal has a hundred times length-scale compared to metallic systems, and thus it approaches the scale of visible light, where a promising photonic application has been considered. The present result indicates the universality of quasicrystalline order from atoms to polymers. The paper will attract broad interest from novices to diverse experts in hard and soft matter sciences.
  h3.u-mT40 Polymeric quasicrystal: Mesoscopic quasicrystalline tiling in ABC star polymers
  p Kenichi Hayashida, Tomonari Dotera, Atsushi Takano, and Yushu Matsushita#[br]Phys. Rev. Lett. <b>98,</b> (2007) 195502.
  img(src="/assets/images/research/qc/pqc.jpg")
  p see also…
  a(href='https://physics.aps.org/story/v19/st15').c-btn.u-mT0 14 May 2007 Physical Review Focus.
  a(href='https://cen.acs.org/articles/85/i21/Polymeric-Quasicrystals.html').c-btn.u-mT0 21 May 2007 Chemical Engineering News