extends ../../../../../layouts/_layout__researches

block title
	title Multicontinuous Structres

block content
	.p-research--menu.u-mT20
		p *
		.current 1
		a(href="gauss2.html")
			| 2
			i.icon.ion-md-arrow-dropright-circle.u-mL10
	img(src="/assets/images/research/Curverture_Effect/gauss1.gif", alt="")
	h2 Curvature effect of a confined polymer
	p.u-flex__horizontal
		a.c-linktext(href='movie/gauss1.mov') Quick Time Movie