extends ../../../../../layouts/_layout__researches

block title
	title Multicontinuous Structres

block content
	.p-research--menu.u-mT20
		a(href="gauss1.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| 1
		.current 2
		p *
	img(src="/assets/images/research/Curverture_Effect/gauss2.gif", alt="")
	h2 Curvature effect of a confined polymer
	p.u-flex__horizontal
		a.c-linktext(href='movie/gauss2.mov') Quick Time Movie