.u-flex {
	display: flex;
	&__left {
		@extend .u-flex;
		justify-content: flex-end;
	}
  &__horizontal {
    @extend .u-flex;
		justify-content: center;
	}
	&__between {
		@extend .u-flex;
		justify-content: space-between;
	}
	&__around {
		@extend .u-flex;
		justify-content: space-around;
	}
	&__vertical {
    @extend .u-flex;
		align-items: center;
	}
}