.u-mInherit{margin: inherit!important;}
.u-m0{margin: 0!important;}

.u-m0Auto {margin : 0 auto!important;}
.u-m10Auto{margin : 10px auto!important;}
.u-m20Auto{margin : 20px auto!important;}
.u-m40Auto{margin : 40px auto!important;}
.u-m60Auto{margin : 60px auto!important;}

.u-mT0 {margin-top: 0px!important;}
.u-mT5 {margin-top: 5px!important;}
.u-mT10{margin-top: 10px!important;}
.u-mT20{margin-top: 20px!important;}
.u-mT30{margin-top: 30px!important;}
.u-mT40{margin-top: 40px!important;}
.u-mT50{margin-top: 50px!important;}
.u-mT60{margin-top: 60px!important;}
.u-mT70{margin-top: 70px!important;}

.u-mR0 {margin-right: 0px!important;}
.u-mR5 {margin-right: 5px!important;}
.u-mR10{margin-right: 10px!important;}
.u-mR20{margin-right: 20px!important;}
.u-mR30{margin-right: 30px!important;}
.u-mR40{margin-right: 40px!important;}
.u-mR50{margin-right: 50px!important;}
.u-mR60{margin-right: 60px!important;}

.u-mL0 {margin-left: 0px!important;}
.u-mL5 {margin-left: 5px!important;}
.u-mL10{margin-left: 10px!important;}
.u-mL20{margin-left: 20px!important;}
.u-mL30{margin-left: 30px!important;}
.u-mL40{margin-left: 40px!important;}
.u-mL50{margin-left: 50px!important;}
.u-mL60{margin-left: 60px!important;}

.u-mB0 {margin-bottom: 0px!important;}
.u-mB5 {margin-bottom: 5px!important;}
.u-mB10{margin-bottom: 10px!important;}
.u-mB15{margin-bottom: 15px!important;}
.u-mB20{margin-bottom: 20px!important;}
.u-mB30{margin-bottom: 30px!important;}
.u-mB40{margin-bottom: 40px!important;}
.u-mB50{margin-bottom: 50px!important;}
.u-mB60{margin-bottom: 60px!important;}