extends ../../../layouts/_layout__researches

block title
	title Quasicrystals; Phason flips (2D)

block content
	.p-research--menu.u-mT10
		p *
		a(href="3d_movie.html")
			| 3D
			i.icon.ion-md-arrow-dropright-circle.u-mL10
	img(src="/assets/images/research/qc/qc2d.gif")
	h2 Anisotropic phason flips (2D)
	p.u-flex__horizontal
		a(href='https://youtu.be/TaLLVxXX2rg' target='_blank').c-linktext Quick Time Movie