extends ../../../layouts/_layout__researches

block title
	title Quasicrystals; Phason flips (3D)

block content
	.p-research--menu.u-mT10
		a(href="2d_movie.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| 2D
		p *
	img(src="/assets/images/research/qc/qc3d.gif")
	h2 Anisotropic phason flips (3D)
	p.u-flex__horizontal
		a(href='https://youtu.be/4kmejFhdhkI' target='_blank').c-linktext Quick Time Movie
