extends ../../../layouts/_layout__researches

block title
  title ABCstar block copolymers

block content
  p.u-mT20 
    | See 
    a.c-linktext(href="http://focus.aps.org/story/v19/st15") 14 May 2007 Physical Review Focus
    |  &#[br] 
    a.c-linktext(href='http://cen.acs.org/articles/85/i21/Polymeric-Quasicrystals.html') 21 May 2007 Chemical Engineering News
  img(src="/assets/images/research/qc/pqc.gif")