.p-publication {
  margin: 50px 0;
  &--item {
    margin-bottom: 20px;
    border-top: 3px solid  $skyblue;
    line-height: 1.2;
    &--title {
      font-size: 18px;
      margin-bottom: 5px;
    }
    &--author {
      margin-bottom: 5px;
      font-style: italic;
    }
    &--links {
      margin: 7px 0;
    }
  }
}