.p-textbooks {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  .c-btn {
    display: block;
  }
  .blue {
    color: #00a6de;
  }
  .pink {
    color: $pink;
  }
  &--small {
    font-size: 16px;
  }
  &--item {
    padding: 0 20px;
    width: 100%;
    line-height: 1.6;
    font-size: 10px;
    margin-bottom: 40px;
    text-align: center;
    @include mq-up() {
      width: 50%;
      font-size: 12px;
    }
    @include mq-up(lg) {
      width: 33%;
    }
    @include mq-up(xl) {
      width: 25%;
    }
    &--title {
      font-size: 20px;
      margin-bottom: 10px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      &__br {
        @extend .p-textbooks--item--title;
        display: block;
      }
    }
    img {
      max-width: 120px;
      border: 1px solid $gray;
      @include mq-up() {
        max-width: 150px;
      }
    }
    &--texts {
      margin-top: 10px;
      text-align: left;
      max-width: 230px;
      margin: 0 auto;
      // text-align: center;
      // background-color: #ddd;
      @include mq-up() {
        // min-height: 175px;
        
      }
    }
    &--movies {
      max-width: 300px;
      margin: 0 auto;
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      img {
        border: 3px solid $skyblue;
      }
    }
    .c-btn {
      width: 80%;
      max-width: 280px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}