.p-top {
  &--fv {
    height: calc(100vh - 80px);
  }
  &--title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    line-height: 1.2;
    font-family: $jaFont;
    @include mq-up() {
      font-size: 72px;
    }
  }
  &--slider {
    height: 100vh;
    width: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    opacity: .4;
    img {
      animation: fade 16s infinite;
      height: 100%;
      width: auto;
      opacity: 0;
      position: absolute;
      @include mq-up() {
        height: auto;
        width: 100%;
      }
      @keyframes fade {
        0% {opacity:0}
        5% {opacity:1}
        10% {opacity:1}
        20% {opacity:0}
      }
      &:nth-of-type(1) {
        animation-delay: 0s;
      }
      &:nth-of-type(2) {
        animation-delay: 4s;
      }
      &:nth-of-type(3) {
        animation-delay: 8s;
      }
      &:nth-of-type(4) {
        animation-delay: 12s;
      }
    }
  }
  &--arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    animation: bound .5s ease infinite alternate;
    @keyframes bound {
      0% {
        transform: translateY(0px);
      }
      100% {
        transform: translateY(-15px);
      }
    }
  }
  &--section {
    position: relative;
    h2 {
      text-align: center;
      font-size: 24px;
      @include mq-up() {
        font-size: 36px;
      }
    }
    .c-btn {
      margin-top: -10px;
      position: absolute;
      right: 10px;
      z-index: 2;
      padding: 7px 35px;
    }
    #js-toggleBtn {
      position: absolute;
      top: 33px;
      right: 20px;
      @include mq-up() {
        top: 53px;
      }
    }
    #js-en {
      display: none;
    }
    .contact {
      border: 3px solid $gray;
      padding: 5px;
      background-color: white;
      font-size: 16px;
      @include mq-up() {
        font-size: 18px;
      }
      li {
        margin-bottom: 5px;
        list-style-type: square;
        margin-left: 3rem;
      }
    }
    .p-news {
      border: 3px solid $gray;
      padding: 5px 12px;
      background-color: white;
      &--item {
        border: none;
      }
    }
  }
}