extends ../../layouts/_layout__pages

block title
  title Laboratory

block content
  h2.l-main--content--title Laboratory
  h3.l-main--content--subtitle ソフトマター物理学研究室
  .p-lab
    .p-lab--top.u-mT20
      img(src="/assets/images/laboratory/softmatter.jpg")
      p.u-mT0.p-lab--top--small SOFT MATTER!
      h4.u-mT20 ソフトマター物理学研究室の心
      ul
        li
          p.p-lab--top--strong Plastic Mind（柔軟な心）
          p.p-lab--top--small *プラステックとは固いという意味ではなく可塑性があるという意味。#[br]今からでも変われるということ。
        li.u-mT10
          p.p-lab--top--strong Mens et Manus（心と手: MITのモットー）
          p.p-lab--top--small *手を動かしてはじめて研究が進む運動会系研究室。#[br]計算機の実験科学ですから、頭でっかちではダメですよ。
    section.p-section
      h3.p-section--title 概要
      p.u-mB30 物質幾何学、具体的には<b>ジャイロイドの物質科学</b>および<b>ソフトマター準結晶研究</b>を<b>計算物理学的方法</b>で研究しようという進学者、大学院生を歓迎致します。
      p 研究室の研究レベルは高く、2014年2月に近畿大学ではじめて<b>英科学誌ネイチャー</b>に論文が掲載されました。これは大城辰也君の卒業研究にはじまった研究です。
      p 2015年度は別宮進一君が総合理工学研究科総代、田中秀明君が学部長賞受賞、高橋佑輔君が卒研発表賞第１位受賞、大野優太君第4位など意気盛んです。
      p 2016年度は野中健史君が卒研発表賞第3位を受賞し、院生の田中秀明君と高橋佑輔君が総合理工マスターズ2017で優秀ポスター賞を受賞しました。
      p 2017年度は青銅比準結晶発見の論文が<b>英科学誌ネイチャー・マテリアルズ</b>に掲載されました。これは別宮進一君がきっかけをつかんだ研究です。また、田中秀明君が校友会長賞を受賞しました。
      p 2018年度は日本物理学会で新設された学生優秀発表賞において、中蔵丈一郎君の発表が受賞しました。
      p 2019年度は中蔵丈一郎君の論文が<b>英科学誌ネイチャー・コミュニケーションズ</b>に掲載されました。
      p.u-mT20.u-mB20 
        | 2011年ノーベル化学賞シェヒトマン教授の受賞発表時には、ノーベル賞選考委員の受賞理由解説にも研究室の論文は引用されました。この分野でのトップ研究者の一人として、ノーベル賞記念論文集にもソフト準結晶の解説記事を寄稿しています。2016年末には世界のトップ研究者ばかりを集めた
        a.c-linktext(href="http://iopscience.iop.org/journal/0953-8984/page/soft-quasicrystals") ソフトマター準結晶の論文集
        | を編纂しました。
      .u-flex__horizontal: a.c-btn(href="/assets/images/laboratory/堂寺ゼミナール配属2018.pdf") 卒業ゼミを考えている3年生へ（PDF）
    section.p-section
      h3.p-section--title メッセージ
      p ソフトマター物理学研究室では，建学の精神 =「実学教育」と「人格の陶冶」を重視しています。具体的には，物理と同時に計算機の技術を身につけて将来に生かそうという意欲ある学生さん向き，しっかり働く人々向きの研究室です。
      p.u-mB30 運動会系のごとく日々課題をこなすことによって知的マッスルを鍛え，知的職業人としての常識，資質，頭の強さを身につけてもらおうと思っています。計算機実験は計算機の前でどうしても時間がかかります。真面目に、いわば修行僧のようにストイックに、毎日働くことは覚悟の上で選択してください。学問的議論の自由は尊重しますが，日常が放縦であってはなりません。<b>研究室の休みは正月とお盆という理系学生の当たり前の覚悟を持ってください。</b>しかし、その分諸君らは鍛えられるし、社会に出ても実力ある卒業生となれるでしょう。
      p <b>3年前期は物理学実験II、統計力学I、後期は統計力学II</b>を履修してください。
      p <b>2018年度の卒研ゼミ</b>は研究者卵向け統計物理学。いわゆる<b>Hansen & McDonald</b>「Theory of Simple Liquids, Fourth Edition: with Applications to Soft Matter」
    section.p-section
      <p>（善悪の判断は別にして）世界はグローバル化しており、単純労働ならば低賃金でも働こうという新興国の人々に負けてしまいます。現代においては、大学卒業資格よりも本人の能力が問われているのです。自らの売りを増やして下さい。競争力がないものにも大切なものはあると断った上で、アジア競争力を持つ人材、企業、産業はひっぱりだこです。このことはこれからの時代に強く意識してください。英語はできて当たり前、TOEICなどのクラスも就職を見据えてしっかり勉強しましょう。もはや日本国内だけでは生きて行けません。アジアの国々で働けますか？専門知識があって、やる気旺盛で、自国語、英語、日本語を話すアジアからの同僚に勝てますか？</p>
    section.p-section
      <p>物理コースの授業では、とくに統計力学I、II、物理数学（行列の固有値、フーリエ変換など）を勉強してきてほしいと思います。数学コースの授業では幾何学、群論、線形数学（固有値）、化学コースでは高分子物性、超分子化学、高分子化学、化学熱力学などを履修してくると、卒業研究でも一歩進んだ研究に取り組めます。数学や化学との境界領域の研究には未知の大海が広がっているのです。専門性と同時に全体を見渡すこと、俯瞰的な視野も必要です。おそらく高度成長するアジアに負けない方法は、学問、文化の深み、技術の神髄、人類の歴史をわきまえて、教養、知性、芸術性、職人芸などに溢れた研究をすること、製品を作り出すこと、理系文系を超えた何かを生み出すこと、独自の世界に踏み込むことです。それが日本の生きる道です。教科書だけの勉強ならガツガツ勉強するアジアの学生に負けてしまうかもしれません。</p>
    section.p-section
      <p>物理卒業生たちのアドバンテージ（利点）とは何でしょうか。物理学会の調査項目によると以下のような利点があります。</p>
      p 論理的に考えプレゼンできる。
      p 本質的な要素の抽出、モデル化ができる。
      p 新技術の原理を理解し利用できる。
    section.p-section
      <p>知らず知らずのうちに、物理を真面目に勉強していると上記のような強みが出てきます。とりわけ、論理性を身に付けることは後の人生の仕事の質や量に計り知れない良い影響をもたらします。科学は日進月歩であり、一生科学の発展を見ながら人生を送ることになりますが、最先端の科学研究の一端を知っていて、科学に対して自分なりの考えをもって対応できる社会人になることでしょう。</p>
    section.p-section
      <p>研究室は楽しいでしょうか。堂寺自身は好き勝手に楽しんでいます。自分勝手に楽しんでやって下さい。自分で楽しさを発見できることが生きてゆく上でとても大切な能力なのです。</p>
    section.p-section
      <p>さて、楽しいと申しましたが、手軽に楽しさがあるわけではないです。たぶんないと思います。本当の楽しさはこつこつ努力する中に生ずるし、あるいは達成してはじめて楽しさが出てくる場合もあります。若いときに身につけた専門性、がんばったことなどは君らの人生を支えます。君らの未来は君らが活動することによってしか切り開くことはできないのです。若いうちに真面目に学んで伸びることを体験しておくと，社会に出てからも新たに学んで伸びることを繰り返せる人になるでしょう。</p>
    section.p-section
      <p>それからおしゃべりが好きな性格の明るい人、深くは考えていないけれど真面目に取り組んでみたい人も大歓迎です。明るい人はそのうち明るい未来を呼び込みます。真面目な人は誰かが見ていてくれるものです。</p>
    section.p-section
      h3.p-section--title 大学院を考える諸君に
      <p>大学進学率は20年前25%だったのが，現在２倍以上の50%を越えています。これは少子化が大きな原因で，次に大学の増加が２番目の原因ですが，はっきり言えることは大学を出ただけでは（昔の希少）価値がなくなってしまったということです。90年代後半の就職氷河期に比べ求人は1.4倍あり、リーマンショックでも求人はそれほど落ち込んでいないのですが、大学生が1.5倍に増加しているし，製造業が海外に出ていますし，呑気な日本人学生（がいたとして）は語学力でも学力でも胆力でも国際的に競争力がありませんから，楽にはなりません。実力があっても（いたとして）大人でなかったり，柔軟性がなく目利きでなかったり，競争に飛び込む勇気がなかったりするとかなり厳しいのが現実です。しかし，目前の競争に勝ち抜き，社会人としての実力を鍛える職場を確保することはとても大切です。</p>
    section.p-section
      <p>大学院進学は将来への自己投資です。特に理系就職を目指す諸君には修士号は目標とすることをすすめます。というのも多くの理系大企業では、修士号取得者を研究員やエンジニアとして採用するからです。科学の最先端の研究を学び，それに向かって２年間みっちり努力する中で，いろいろなことを身につけてゆくことができます。知識が増えるだけでなく，日々の研究生活の中で精神的にも研究のプロフェッショナルに近づくことができます。そうした経験が職場で研究者あるいは仕事人としての土台を築くことになるでしょう。人というのは柔軟性があります。今から心を引き締め，20代自分を鍛えて，10年後，20年後，30年後の未来を築く。近畿大学から明日の日本を支える人々が育ってくれることを心から願っています。</p>
    section.p-section
      <p>修士研究では、物理学会、準結晶研究会、高分子学会、高分子計算機科学研究会、国際会議その他の研究会で発表することを目指します。はりきる学生さんは大学や企業の研究者からも評価されますし、研究者への道につながります。学外で発表をして学外の研究者や学生と他流試合をやることができるのも大学院生の特権です。研究室は世界でも創造性を高く評価される研究を目指しており、諸君もがんばれば世界の第一線の研究に到達することができると確信を持って言うことができます。学外からの研究費も十分あり、最新の計算機での計算研究プロジェクトに参加してくれる諸君を待っています。</p>
    section.p-section
      <p>なお，公的研究所、大学などでの研究職を目指すには博士号が必須条件です。</p>
    section.p-section
      h3.p-section--title Photos
      .photo
        .photo--item
          img(src="/assets/images/laboratory/shodoshima2017.jpg")
        .photo--item
          img(src="/assets/images/laboratory/naoshima2016.jpg")
        .photo--item
          img(src="/assets/images/laboratory/teshima2.jpg")
        .photo--item
          img(src="/assets/images/laboratory/teshima1.jpg")
        .photo--item
          img(src="/assets/images/laboratory/IMG_3211.jpg")
        .photo--item
          img(src="/assets/images/laboratory/naoshima1.jpg")
        .photo--item
          img(src="/assets/images/laboratory/naoshima2.jpg")
    section.p-section
      h3.p-section--title 輪講
      ul.list
        li.list--item
          .date 2019後期
          .author R.P.Feynman
          .title Statistical Mechanics
        li.list--item
          .date 2019前期
          .author 宮下精二
          .title ゆらぎと相転移
        li.list--item
          .date 2019前期
          .author Hansen & McDonald
          .title Theory of Simple Liquids, Fourth Edition: with Applications to Soft Matter, Sec.III-
        li.list--item
          .date 2018後期
          .author Hansen & McDonald
          .title Theory of Simple Liquids, Fourth Edition: with Applications to Soft Matter, Sec.I,II
        li.list--item
          .date 2018後期
          .author  Michael Baake Uwe Grimm
          .title Aperiodic Order: Volume 1, A Mathematical Invitation (Encyclopedia of Mathematics and its Applications)
        li.list--item
          .date 2017後期
          .author Werner Krauth
          .title Coursera: Statistical Mechanics: Algorithms and Computations
        li.list--item
          .date 2017後期
          .author Mark Newman & G. T. Barkema
          .title Monte Carlo Methods in Statistical Physics
        li.list--item
          .date 2016後期
          .author Werner Krauth
          .title Coursera: Statistical Mechanics: Algorithms and Computations
        li.list--item
          .date 2016前期
          .author Ted Janssen,  G. Chapuis  & M. de Boissieu
          .title Aperiodic Crystals
        li.list--item
          .date 2015後期
          .author M. Doi
          .title Soft Matter Physics
        li.list--item
          .date 2015前期
          .author P. Chaikin・T. Lubensky
          .title Principles of Condensed Matter
        li.list--item
          .date 2014後期
          .author 田崎晴明#[br]岡崎 進
          .title 統計物理学1#[br]コンピュータシミュレーションの基礎
        li.list--item
          .date 2014前期
          .author 田崎晴明#[br]岡崎 進
          .title 統計物理学1#[br]コンピュータシミュレーションの基礎
        li.list--item
          .date 2013後期
          .author Alan H. Schoen
          .title Infinite periodic minimal surfaces without self-intersections. #[br]Technical Note NASA-TN-D- 5541, NASA, 1970
        li.list--item
          .date 2013前期
          .author Mark E. Tuckerman
          .title Staistical Mechanics: Theory and Molecular Simulations
        li.list--item
          .date 2013春夏
          .author 土井正男
          .title ソフトマター物理学入門
        li.list--item
          .date 2012秋
          .author Ulf Leonhardt & Thomas Philbin
          .title Geometry and Light: The Science of Invisibility
        li.list--item
          .date 2012初夏
          .author 竹内伸・蔡安邦・#[br]木村薫・枝川圭一
          .title 準結晶の物理
        li.list--item
          .date 2012春
          .author W. Steurer & S. Deloudi
          .title Crystallography of Quasicrystals: Concepts, Methods and Structures
        li.list--item
          .date 2011後期
          .author T. Witten
          .title Structured fluids
        li.list--item
          .date 2011春
          .author 土井正男
          .title ソフトマター物理学入門
        li.list--item
          .date 2010後期
          .author Werner Krauth
          .title Statistical Mechanics: Algorithms and Computations
        li.list--item
          .date 2010後期
          .author 川勝年洋
          .title 高分子物理の基礎　統計物理学的方法を中心に
        li.list--item
          .date 2010夏
          .author 青木敬之・額田彰
          .title はじめてのCUDAプログラミング
        li.list--item
          .date 2009後期
          .author P. Chaikin・T. Lubensky
          .title 現代の凝縮系物理学
        li.list--item
          .date 2009後期
          .author Werner Kraut
          .title Statistical Mechanics: Algorithms and Computations
        li.list--item
          .date 2008後期
          .author 矢部孝・尾形陽一・滝沢研二	
          .title CIP法とJAVAによるCGシミュレーション
        li.list--item
          .date 2008
          .author D. Frenkel & B. Smit
          .title Understanding Molecular Simulation
        li.list--item
          .date 2007
          .author 上田顕
          .title 別冊数理科学　計算物理入門（分子シミュレーションを中心に）
        li.list--item
          .date 2006
          .author M. Kleman & O. Lavrentovich
          .title Soft Matter Physics
        li.list--item
          .date 2005後期
          .author T. Witten
          .title Structured fluids
        li.list--item
          .date 授業
          .author J.-L. Barrat & J.-P. Hansen
          .title Basic Concepts for Simple and Complex Liquids
        li.list--item
          .date 2005前期
          .author R. Jones
          .title Soft Condensed Matter
        li.list--item
          .date 2004
          .author 迫田和彰
          .title フォトニック結晶入門
        li.list--item
          .date 2002
          .author L. Kadanof
          .title Statistical Physics: Statics, Dynamics and Renormalization
        li.list--item
          .date 2001
          .author P. Chaikin・T. Lubensky
          .title 現代の凝縮系物理学
        li.list--item
          .date 2000
          .author P. Chaikin・T. Lubensky
          .title 現代の凝縮系物理学
        li.list--item
          .date 1999
          .author 北原和夫
          .title 非平衡系の統計力学
        li.list--item
          .date 1998
          .author --
          .title Mathematicaビギナーズ
        li.list--item
          .date 1997
          .author 砂川重信
          .title 電磁気学
        li.list--item
          .date 1996
          .author 戸田盛和
          .title 流体力学
        li.list--item
          .date 1995
          .author 阿部龍蔵
          .title 熱統計力学
        li.list--item
          .date 1994
          .author ディラック
          .title 量子力学

