extends ../../../layouts/_layout__textbooks

block title
  title syllabus

block content
  h2 科目名（メディア）＝運動と力（‘０１）＝（SKY Perfect TV 2005年まで放送）
  .u-mT20
    p.u-flex__horizontal 〔主任講師： 阿部 龍蔵（東京大学名誉教授）〕
    p.u-flex__horizontal 〔 主 任 講 師（現職名）：　堂寺 知成（京都大学助教授）〕
  .u-mT40
    h3 全体のねらい
    p 運動と力との関係を調べる学問は力学とよばれ、これは物理学の基礎分野の１つである。本講義では、日常生活との関連、映像の活用などに重点をおき力学の基礎的な事項をなるべくやさしく解説する。数学の準備として微積分学、線形代数などの習得が望ましいが、それを前提とせず講義中で適当な説明を加えるつもりである。
  .u-mT40
    img(src="/assets/images/textbooks/Motion_Force/img1.png", alt="", srcset="")
    img(src="/assets/images/textbooks/Motion_Force/img2.png", alt="", srcset="")
    img(src="/assets/images/textbooks/Motion_Force/img3.png", alt="", srcset="")
