extends ../../../layouts/_layout__textbooks

block title
  title TV: projectile movie

block content
  .p-research--menu.u-mT20
    a(href="tv1.html")
      i.icon.ion-md-arrow-dropleft-circle.u-mR10
      | 1
    .current 1-1
    a(href="tv2.html")
      | 2
      i.icon.ion-md-arrow-dropright-circle.u-mL10
  h2 Motion and Force
  .p-section
    p.u-flex__horizontal
      a(href='https://youtu.be/Vk3uoqbC6Yo' target='_blank').c-linktext Rakka
  .p-section
    p.u-flex__horizontal
      a(href='https://youtu.be/159ItEwoo_M' target='_blank').c-linktext Furiko
  .p-section
    p.u-flex__horizontal
      a(href='https://youtu.be/EVYqQt3s0mQ' target='_blank').c-linktext E-B-drift