extends ../../../layouts/_layout__textbooks

block title
  title TV: projectile movie

block content
  .p-research--menu.u-mT20
    a(href="tv4.html")
      i.icon.ion-md-arrow-dropleft-circle.u-mR10
      | 4
    .current 1
    a(href="tv1-1.html")
      | 1-1
      i.icon.ion-md-arrow-dropright-circle.u-mL10
  h2 Motion and Force
  img(src="/assets/images/textbooks/Motion_Force/Projectile_290.gif", alt="", srcset="")
  p.u-flex__horizontal Projectile.mov
  p.u-flex__horizontal
    a(href='https://youtu.be/d0dWLF-0pPM' target='_blank').c-linktext.u-mR20 Quick Time Movie