extends ../../../layouts/_layout__textbooks

block title
  title TV: slope movie

block content
  .p-research--menu.u-mT20
    a(href="tv2.html")
      i.icon.ion-md-arrow-dropleft-circle.u-mR10
      | 2
    .current 3
    a(href="tv4.html")
      | 4
      i.icon.ion-md-arrow-dropright-circle.u-mL10
  h2 Motion and Force
  img(src="/assets/images/textbooks/Motion_Force/Slope_290.gif", alt="", srcset="")
  h3.u-flex__horizontal
    a(href='https://youtu.be/UCHsFXyR3I8' target='_blank').c-linktext.u-mR20 Slope.mov
  p.u-flex__horizontal See E. N. Lorentz, The Essence of Chaos (Univ. of Washington Press 1993).
  p.u-mT30 ボールの落下地点は予想できますが，舞い落ちる落ち葉の落下地点を予想するのは難しそうです．運動は初期値(ある時間での位置と速度)を定めれば，その後の運動はニュートンの運動方程式によって決定されるはずです．原理的には決定されている運動が，予想しにくいのはなぜでしょうか．
  p カオス的ふるまいの最大の特徴は，互いによく似た状態が，初期の差がどんなに小さくとも，結局は離れて行ってしまうことにあります．これを初期値に対する敏感性といいます．この性質が運動の予測不可能性の本質的原因です．ここでは，摩擦のある斜面での落体運動を例にとり，カオス運動の特徴である初期値に対する敏感性とその由来を探ってみましょう．
  p スキー場の特に急斜面では自然に凹凸が生じて，凸凹斜面が生じます．また，モーグルという競技スキーで凸凹斜面の滑走はおなじみでしょう．速度に比例する摩擦のある周期的凹凸斜面上の質点の落下の運動を数値計算で解いた最初のCGを御覧下さい．
  p まずは平らな斜面の運動です．横方向の速度は摩擦でなくなってしまい，ただの斜面方向への落下になります．さて凸凹です．軌道はふらつきます． 初期値を１cmずつ横にずらして出発した軌道を示してゆきます．出発点がほぼ同じなのに，いろいろな軌道をとるようです．それで初期位置を１mmずらすとどうなるか．今度は24ｍ程度下ったあたりでは近いですが，48m進むとやはり軌道は離れて，初期位置の近さが意味を持たなくなります．この数値実験から，どんなに軌道が近くても結局は離れてゆくことが想像できます．これがカオス運動の特徴である初期値に対する敏感性です．
  p それでは次のCGのページに移りましょう．