extends ../../../layouts/_layout__textbooks

block title
  title TV: Maxwell's speed distribution movie

block content
  h2 Special offer for students
  p Numbers produce statistical laws. This principle is the foundation of statistical physics. See an example below:
  p You can see how the number of molecules affects the speed distribution tending to the Maxwell's speed distribution.
  p
    |On campus: 
    a.c-linktext(href='Movie/Maxwell-S.mp4') Small
    |, or 
    a.c-linktext(href='Movie/Maxwell-L.mp4') Large
  .u-flex.u-mT40
    img.u-mT0.u-mB0(src="/assets/images/textbooks/Energy_Heat/8-Max_b_310.gif", alt="", srcset="")
    .div.u-mL20
      p Simulations: SGI O2
      p Graphics: Open GL
      p Effects: Premiere on G4 Mac Movie shaker on VAIO
      p Sound: VAIO
  .p-research--area.u-mT50
    h3 ミニ映画解説(ミニ科学史)
    p かりに同じ速度で走る分子を用意しても、大きさを持つ分子の衝突では、衝突のたびごとにいろいろな速度が生じうる。したがって、分子の速度は速いのも遅いのもあるのである。それでは、止まっている分子はたくさんあるのであろうか？平均の２、３倍の速さの分子はあるのであろうか？テストの得点分布があるように平衡状態での速度分布というものを考えよう。
    p 物理学にこの「分布」の概念を持ち込んだのは、マクスウェル（1831～1879）である。個々の分子の運動を考えるのは従来の物理学であったのだが、マクスウェルの分子運動論では、いろいろな分子が衝突を繰り返した結果として現われる平衡状態での速度分布を議論する。
    p 真空の中に気体を閉じ込めた小さな袋を置いたとしよう。それを針で突いて破裂させて、微小な時間の後に３次元立体写真をとったと仮想しよう。分子はそれぞれの持つ速度で一斉に移動する。移動距離は分子の速度に比例するので、その写真に得られる分子の分布はマクスウェルの速度分布とよばれる分布になる。エネルギーと熱98（放送大学テレビ講義）ではそれを映画にして放映しのだが、実はフェルミ分布にしても映像的にはどちらもスターウォーズ的で違いが判らぬものであった。
    p 仕方がないのでベクトルとしての速度ではなく、ふつうにスカラーとしての速さ分布にして見ることにした。同じ速度から出発して瞬時にマクスウェルの速さ分布に近付く様子を御覧いただこう。英語の解説で述べたように分子数が大きくなると法則の予言する通りになる。
    p マクスウェルはニュートン、アインシュタインとならぶ物理学史上の巨人で、電磁気学理論の完成させたことで有名である。マクスウェルの方程式と呼ばれることになる方程式を書き下し、その結果として、光が電磁場に他ならないことも予言した。分子運動論にも大きな足跡を残したことは、上に述べたとおりである。その他、色の理論を研究しカラー写真を初めて作成したのもマクスウェルである。14歳にして（画用紙に刺した２本のピンに糸を結び付け、糸を張りながら描く）楕円の作図法を発見したそうである。
    p ガリレオの没年がニュートンの生年と一致し、マクスウェルの没年がアインシュタインの生年と一致することはよく知られている。