extends ../../../layouts/_layout__textbooks

block title
  title TV: Boltzmann distribution movie

block content
  h2 Special offer for students
  p Why does the Boltzmann distribution appear ?
  p
    |On campus: 
    a.c-linktext(href='https://youtu.be/L6xoEL_zXQg' target='_blank') Movie
  .u-flex.u-mT40
    img.u-mT0.u-mB0(src="/assets/images/textbooks/Energy_Heat/StaPhysII.jpeg", alt="", srcset="")
    .div.u-mL20
      p Number of particles: N = 7
      p Total energy: E = 7
      p Number of states: W = 15
  .p-research--area.u-mT50
    h3 解説
    p 毎年（Asakura-Oosawa理論で有名な）大沢文夫先生の「手づくり統計力学」を参考にして、サイコロとチップによる統計力学的現象の体験学習会（２コマ、ブッロサムカフェ３階）を開催している。近年流行しているアクティブラーニングを取り入れ、６人ごとのグループでサイコロゲームを行う。統計力学の肝となるボルツマン分布（少数の富豪に大多数の貧民の法則）が簡単に得られることを楽しみながら学ぶ。
    p やりとりが生ずれば「能力の差があるわけでもないのに、自然と少数の富豪と大多数の貧民が生ずる」という大沢先生の説明が面白い。