extends ../../../layouts/_layout__textbooks

block title
  title TV: Boyle-Charles' law movie

block content
  .p-research--menu.u-mT20
    a(href="tv1.html")
      i.icon.ion-md-arrow-dropleft-circle.u-mR10
      | 1
    .current 1-1
    p *
  h2 ひとりごと
  img(src="Image/boyle.jpg", alt="", srcset="")
  p.u-mT40 97年に作った分子運動のコンピューターグラフィックスは、浜口陽三のさくらんぼ（メゾチント）をイメージして作ったと僕の敬愛する徒然草研究の島内裕子先生（もと同僚）に話したところ、わかってくれたような気もしたし、ちょっと違うかなという感想も抱かれたようでもあった．黒色の空間の中に立体感がある赤い玉があって、速度ベクトルの棒はさくらんぼみたいだと僕は思っているのである．プリントアウトしたものを持って行って他の先生にお見せになったようであるが、そうなると浜口陽三とはかなりかけ離れたものである．恥ずかしくなる．とにもかくにも体を壊してまで作ったCGたちは自信作であったので、98年に出版した教科書のカラー口絵としたのだが、教科書は高くなった．