extends ../../../layouts/_layout__textbooks

block title
  title TV: Maxwell's speed distribution movie
block content
  .p-research--menu.u-mT20
    a(href="tv2.html")
      i.icon.ion-md-arrow-dropleft-circle.u-mR10
      | 2
    .current 3
    a(href="tv4.html")
      | 4
      i.icon.ion-md-arrow-dropright-circle.u-mL10
  h2 Energy and Heat
  .u-flex
    div
      img(src="Image/8-Max_a_290.gif", alt="", srcset="")
    div.u-mL10
      img(src="Image/8-Max_b_310.gif", alt="", srcset="")

  h3.u-flex__horizontal 
    a.c-linktext(href='Movie/Maxwell.mp4').u-mR20 Maxwell's speed distribution
