extends ../../../layouts/_layout__textbooks

block title
  title TV: Entropy force

block content
  .p-research--menu.u-mT20
    a(href="tv3.html")
      i.icon.ion-md-arrow-dropleft-circle.u-mR10
      | 3
    .current 4
    a(href="tv5.html")
      | 5
      i.icon.ion-md-arrow-dropright-circle.u-mL10
  h2 Energy and Heat
  img(src="Image/f_entropy.gif", alt="", srcset="")

  h3.u-flex__horizontal
    a.c-linktext(href='Movie/single.mov').u-mR20 Entropic force
