extends ../../../layouts/_layout__textbooks

block title
  title TV: Ising model movie

block content
  .p-research--menu.u-mT20
    a(href="tv4.html")
      i.icon.ion-md-arrow-dropleft-circle.u-mR10
      | 4
    .current 5
    a(href="tv1.html")
      | 1
      i.icon.ion-md-arrow-dropright-circle.u-mL10
  h2 Energy and Heat
  img(src="Image/13-Ising_370.gif", alt="", srcset="")

  h3.u-flex__horizontal 
    a.c-linktext(href='Movie/ising.mov').u-mR20 Ising model
