extends ../../../layouts/_layout__abstracts

block title
  title ミクロ相分離のモンテカルロシミュレーション

block pageTitle
  p ミクロ相分離のモンテカルロシミュレーション− 共重合体のつくる幾何学

block pageInfo
  <p>堂寺知成</p>
  <p>高分子　<b>53</b> (2004) 4月号, pp.263-266</p>
  img(src="images/abcstar.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>デザインされた分子による自己組織化という概念および技術は益々深く広く進化する概念であり技術である．ここでは，混じり合わない三種類以上の高分子を連結したブロック共重合体系の作るミクロ相分離構造の多様な可能性を幾何学の観点から論ずる．対角線法という格子モンテカルロ計算法ではじめて可能になった研究である．</p>