extends ../../../layouts/_layout__abstracts

block title
  title Curvature Entropy Trapping of Long DNA under Hydrodynamic Flows in Microfluidic Devices

block pageTitle
  p Curvature Entropy Trapping of Long DNA under Hydrodynamic Flows in Microfluidic Devices

block pageInfo
  <p>Masanori Ueda, Tetsuya Hayama, Yuzuru Takamura, Yasuhiro Horiike, Tomonari Dotera and Yoshinobu Baba</p>
  <p>Jpn. J. Appl. Phys. <b>43</b> (2004), pp.1649-1650</p>
  img(src="images/curved_entropy.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>We investigated the curvature effect on the dynamics of long DNA using microfluidic devices. Long DNA has larger configurational entropy in a curved channel than in a straight channel. Under weak hydrodynamic flows, long DNA exhibited a curvature entropy trapping effect. The effect disappeared as the hydrodynamic flow was increased.</p>