extends ../../../../layouts/_layout__researches

block title
	title Multicontinuous Structres

block content
	.p-research--menu.u-mT20
		a(href="DBM.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| prev
		a(href="models.html")
			| next
			i.icon.ion-md-arrow-dropright-circle.u-mL10
	img(src="/assets/images/research/DBM/lamellar_movie.gif", alt="")
	h2 Growth of the lamellar for AB copolymer
	p.u-flex__horizontal
		a.c-linktext(href="Movie/lam.mov") Quick Time Movie