extends ../../../../layouts/_layout__researches

block title
	title Multicontinuous Structres

block content
	.p-research--menu.u-mT20
		a(href="AB_lamellar_mov.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| prev
		p *
	img(src="/assets/images/research/DBM/models.png", alt="")