extends ../../layouts/_layout__pages

block title
  title Textbooks

block main
  .l-main: .l-main--content__wide
    h2.l-main--content--title Textbooks
    h3.l-main--content--subtitle 教科書 & 放送大学TV Lecture
    .p-textbooks
      .p-textbooks--item
        h3.p-textbooks--item--title__br
          .p-textbooks--small 工学基礎#[br]
          | 熱力学・統計力学 2009
        img(src='images/T-S2009.jpg')
        p
          a.c-btn(href="http://www.saiensu.co.jp/?page=book_details&ISBN=ISBN978-4-901683-63-0&YEAR=2009") 数理工学社
        p
          a.c-btn(href="Energy_Heat/maxwell-speed.html") special movie
        p
          a.c-btn(href="Energy_Heat/staphys.html") special movie 2
        p
          a.c-btn(href="http://www.saiensu.co.jp/?page=support_details&sup_id=224") サポート情報 
      .p-textbooks--item
        h3.p-textbooks--item--title 熱と温度 2008-2012
        img(src='images/H_T2008.gif')
        .p-textbooks--item--texts
          p.pink 齋藤一弥・堂寺知成, 2008
          p In Japanese (ISBN978-4-595-30865-9)
          p.pink 全15章 (245 pages)
          p 45分 x 15回（Sky Perfect TV）
          p 1回-7回，15回担当
      .p-textbooks--item
        h3.p-textbooks--item--title 複雑システム科学 2007-2012
        img(src='images/css2007.gif')
        .p-textbooks--item--texts
          p 生井澤寛, 2007
          p In Japanese (ISBN978-4-595-13505-7)
          p 全15章 (265 pages)　分担執筆
          p 45分 x 15回（Sky Perfect TV）3回担当
          p.pink 3章 準結晶：複雑さの中の美しさ 蔡安邦氏出演
          p.pink 4章 複雑分子：秩序構造の建築家 松下裕秀氏、高野敦志氏出演
          p.pink ５章 共連続相：ミクロ世界のラビリンス
      .p-textbooks--item
        h3.p-textbooks--item--title Computational Science 2003-2006
        img(src='images/c_s2003.gif')
        .p-textbooks--item--texts
          p By Daiichiro Sugimoto, 2003
          p In Japanese (ISBN4-595-23684-0)
          p 15 chapters (310 pages)
          p with 45 min x 15 TV programs
          p Chapter 8, Monte Carlo Simulation
          p including an ineterview of Prof.K Binder
      .p-textbooks--item
        h3.p-textbooks--item--title
          a.c-linktext(href='Motion_Force/tv1.html') Motion and Force 2001-2004
        img(src='images/motions_force_175.gif')
        .p-textbooks--item--texts
          p By Ryuzo Abe and Tomonari Dotera, 2001
          p In Japanese (ISBN4-595-89218-7)
          p 15 chapters (217 pages)
          p 45分 x 15回（Sky Perfect TV）3回担当
          p with 45 min x 15 TV programs
          p
            a.c-linktext(href='Motion_Force/syllabus_mf01.html') Syllabus
          p Text Cap.7 for Numerical Method
        .p-textbooks--item--movies
          a(href='Motion_Force/tv1.html')
            img(src="Motion_Force/Image/Projectile_32.gif")
          a(href='Motion_Force/tv2.html')
            img(src="Motion_Force/Image/Henon_32.jpg")
          a(href='Motion_Force/tv3.html')
            img(src="Motion_Force/Image/Slope_32.gif")
          a(href='Motion_Force/tv4.html')
            img(src="Motion_Force/Image/Slope2_32.gif")
      .p-textbooks--item
        h3.p-textbooks--item--title
          a.c-linktext(href='Energy_Heat/tv1.html') Energy and Heat 1998-2002
        img(src='images/Energy_heat_175.gif')
        .p-textbooks--item--texts
          p By Ryuzo Abe and Tomonari Dotera, 1998
          p In Japanese (ISBN4-595-89135-0)
          p 15 chapters (181 pages)
          p with 45 min x 15 TV programs
        .u-mT70.u-hidden-mobile
        .p-textbooks--item--movies
          a(href='Energy_Heat/tv1.html')
            img(src="Energy_Heat/Image/3-boyle_32.gif")
          a(href='Energy_Heat/tv2.html')
            img(src="Energy_Heat/Image/4-Carnot_32.gif")
          a(href='Energy_Heat/tv3.html')
            img(src="Energy_Heat/Image/8_Max_32.gif")
          a(href='Energy_Heat/tv4.html')
            img(src="Energy_Heat/Image/f_entropy_32.gif")
          a(href='Energy_Heat/tv5.html')
            img(src="Energy_Heat/Image/13-Ising_32gif.gif")
      .p-textbooks--item
        h3.p-textbooks--item--title
          a.c-linktext(href='Motion_Force/tv1.html') Energy and Heat 2003-2006
        img(src='images/e_h2003.gif')
        .p-textbooks--item--texts
          p By Yutaka Okabe and Tomonari Dotera, 2003
          p In Japanese (ISBN4-595-23684-0)
          p 15 chapters (195 pages)
          p with 45 min x 15 TV programs
        p: a.c-btn(href='Energy_Heat/syllabus_eh03.html') Syllabus
        p: a.c-btn(href='Energy_Heat/drinking-bird.html') Tea time
        p: a.c-btn(href='Energy_Heat/maxwell-speed.html') Special Movie