extends ../../../../../layouts/_layout__researches

block title
	title Polymer confinement

block content
	.p-research--menu.u-mT20
		a(href="01.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| 1
		.current 2
		a(href="03.html")
			| 3
			i.icon.ion-md-arrow-dropright-circle.u-mL10
	img(src="image/cp02.gif", alt="", srcset="")