extends ../../../../../layouts/_layout__researches

block title
	title Polymer confinement; random walks

block content
	.p-research--menu.u-mT20
		a(href="02.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| 2
		.current 3
		a(href="04.html")
			| 4
			i.icon.ion-md-arrow-dropright-circle.u-mL10
	img(src="image/cp03.gif", alt="", srcset="")