extends ../../../../../layouts/_layout__researches

block title
	title Polymer confinement; polymer confinement rule

block content
	.p-research--menu.u-mT20
		a(href="03.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| 3
		.current 4
		a(href="05.html")
			| 5
			i.icon.ion-md-arrow-dropright-circle.u-mL10
	img(src="/assets/images/research/PAAC2000/cp04.gif", alt="")