extends ../../../../../layouts/_layout__researches

block title
	title Polymer confinement; calculations 1

block content
	.p-research--menu.u-mT20
		a(href="04.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| 4
		.current 5
		a(href="06.html")
			| 6
			i.icon.ion-md-arrow-dropright-circle.u-mL10
	img(src="/assets/images/research/PAAC2000/cp05.gif", alt="")