extends ../../../../../layouts/_layout__researches

block title
	title Polymer confinement; Rayleigh instability

block content
	.p-research--menu.u-mT20
		a(href="08.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| 8
		.current 9
		a(href="10.html")
			| 10
			i.icon.ion-md-arrow-dropright-circle.u-mL10
	img(src="/assets/images/research/PAAC2000/cp09.gif", alt="")