extends ../../../../../layouts/_layout__researches

block title
	title Harold Edgerton

block content
	.p-research--menu.u-mT20
		a(href="09.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| 9
		.current 10
		a(href="11.html")
			| 11
			i.icon.ion-md-arrow-dropright-circle.u-mL10
	img(src="/assets/images/research/PAAC2000/cp10.jpg", alt="")