extends ../../../../../layouts/_layout__researches

block title
	title Polymer confinement; summary

block content
	.p-research--menu.u-mT20
		a(href="12.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| 12
		.current 13
		a(href="01.html")
			| 1
			i.icon.ion-md-arrow-dropright-circle.u-mL10
	img(src="/assets/images/research/PAAC2000/cp13.gif", alt="")