extends ../../../../layouts/_layout__researches

block title
	title Cell crystals; Kelvin's problem

block content
	.p-research--menu.u-mT20
		a(href="Kelvin_prob0.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| previous
		a(href="space_division.html")
			| next
			i.icon.ion-md-arrow-dropright-circle.u-mL10
	img(src="Image/Kelvin_prob.jpg", alt="", srcset="")