extends ../../../../layouts/_layout__researches

block title
	title Cell crystal; ケルビン問題

block content
	.p-research--menu.u-mT20
		a(href="curvature.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| previous
		a(href="bcc.html")
			| next
			i.icon.ion-md-arrow-dropright-circle.u-mL10
	img(src="/assets/images/research/Cell_Crystal/cell_crystal_mov.jpg", alt="")
	h2 Growth of the cell crystal for ABCD star tetrablock copolymer
	p.u-flex__horizontal
		a.c-linktext(href="https://youtu.be/-1vVa6w9bEQ" target='_blank') Quick Time Movie (4.1M)
	