extends ../../../../layouts/_layout__researches

block title
	title Cell crystals; simulation results

block content
	.p-research--menu.u-mT20
		a(href="space_division.html")
			i.icon.ion-md-arrow-dropleft-circle.u-mR10
			| previous
		a(href="curvature.html")
			| next
			i.icon.ion-md-arrow-dropright-circle.u-mL10
	img(src="/assets/images/research/Cell_Crystal/Cell_phase.gif", alt="")
	p Block copolymers comprising chemically distinct polymers linked together are intriguing, because microphase separations of block copolymer melts provide superb periodic morphologies: lamellar, bicontinuous, cylindrical and spherical phases. A common feature in these morphologies, which is not usually mentioned, is that at least one component occupying large blocks of copolymers is unbounded in space, such as a matrix in a spherical or a cylindrical phase. Using Monte Carlo simulations, we show that a cellular and periodic morphology appears in microphase separations of symmetric "ABCD" star-block copolymer melts. In the structure, all components form spatially bounded cellular domains. Because periodic elements are cells instead of atoms, we refer to the structure as a "cell crystal'' and the phase as a "cell (crystalline) phase," whose lattice constant is nanoscale of the order of 10-100 nm, the domain sizes of microphase separations.