extends ../../../layouts/_layout__abstracts

block title
  title 33434

block pageTitle
  | A Mesoscopic Archimedean Tiling Having a New Complexity in an ABC Star Polymer

block pageInfo
  p W. Kawashima, A. Noro, Y. Isono, N. Tanaka
  p J. Polym. Sci. Part B: Polym. Phys. <b>43</b>, 2427-2432 (2005)
  p Journal of Polymer Science Part B: Polymer Physics Prize for 2007
  img(src="/assets/images/publications/33434.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    p 
      | The Archimedean tiling (3
      span.c-suptext 2
      | .4.3.4) is a regular but complex polygonal assembly of equilateral triangles and squares. This tiling pattern with mesoscopic repeating distance has been found for an ABC star-branched three-component polymer composed of polyisoprene, polystyrene and poly (2-vinylpyridine). In this structure the environment of a molecule splits into multiple sites and two microdomains with different sizes and shapes are formed for one component. This complexity is the first observation in complex polymer systems and can lead to a new type of mesoscale self-organization. The tiling pattern has been observed for the other materials on much shorter length-scale, therefore, the experimental fact observed in the present study is demonstrating that the complexity is universal over different hierarchy.