extends ../../../layouts/_layout__abstracts

block title
  title ABCstar

block pageTitle
  | Monte Carlo Simulations of the Morphology of ABC Starpolymers using the Diagonal Bond Method

block pageInfo
  <p>Tohru Gemma, Akira Hatano and Tomonari Dotera</p>
  <p>Macromolecules <b>35 </b>(2002), pp.3225-3237</p>
  img(src="/assets/images/publications/gemma.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>The microphase-separated morphology of ABC three-arm star-shaped copolymers with arm-length ratio 1:1:<i>x</i> is investigated by a recently proposed simulation method, the diagonal bond method. Five kinds of two-dimensional (cylindrical) phases, three kinds of lamellar-type phases and two kinds of continuous matrix phases are discovered. The phase diagram is presented: The progression of the morphologies as a function of <i>x</i> is the following: lamella+sphere; five polygonal cylinders, [8.8.4], [6.6.6], [8.6.4; 8.6.6], [10.6.4; 10.6.4; 10.6.6], [12.6.4]; perforated layer; lamella+cylinder; columnar piled disk; lamella-in-sphere. Two remarkable features of ABC starpolymer systems are found: first, in all phases junction point monomers gather on lines where three interfaces meet, and second, the section of the cylindrical phase becomes the tessellation of even-numbered polygons. The free energy of the system is also calculated in the strong segregation limit for four kinds of simple phases, and the results are consistent with the simulations.</p>

  section.p-section
    h3.p-section--title Keywords
    <p>ABC star polymer, terpolymer, block copolymer, Archimedian tiling</p>