extends ../../../layouts/_layout__abstracts

block title
  title ABCtri_blend

block pageTitle
  p ricontinuous Cubic Structures in <i>ABC</i>/<i>A</i>/<i>C</i> Copolymer and Homopolymer Blends

block pageInfo
  <p>Tomonari Dotera</p>
  <p>Phys. Rev. Lett. <b>89</b> (2002), 205502</p>
  <p>Fig. 1 was chosen for Nov. 11 cover illustration and appeared on the top pages of PRL and American Physical Society journal web sites for a week.</p>
  img(src="/assets/images/publications/prl2002.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>sing Monte Carlo lattice simulation technique, we present numerical evidence of the formation of gyroid and nongyroid tricontinuous cubic phases in high polymeric systems of <i>ABC</i>/<i>A</i>/<i>C</i> triblock copolymer and homopolymer blends. By increasing the volume fraction of homopolymer, a remarkable phase sequence <i>G</i> (gyroid) &#8594; <i>D</i> (diamond) &#8594; <i>P</i> (primitive) is observed, which is common to certain surfactant systems. Our results indicate that the <i>ABC</i> triblock copolymer system with blending homopolymers may be a zoo of cubic phases, suitable for comparative studies of these phases.</p>
  section.p-section
    h3.p-section--title Keywords
    <p>gyroid, ABC block copolymer, double diamond, primitive, cubic phase, tricontinuous, multicontinuous, bicontinuous, minimal surface</p>