extends ../../../layouts/_layout__abstracts

block title
  title Rectangle-triangle soft-matter quasicrystals with hexagonal symmetry

block pageTitle
  p Rectangle-triangle soft-matter quasicrystals with hexagonal symmetry

block pageInfo
  <p>Andrew J. Archer, Tomonari Dotera, and Alastair M. Rucklidge</p>
  <p><b>Editors' Suggestion:</b> Physical Review E<b>106</b>, 044602 (2022).</p>
  <p><a href="https://doi.org/10.1103/PhysRevE.106.044602">doi:10.1103/PhysRevE.106.044602</a></p>
  img(src="/assets/images/publications/adr.png")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>Aperiodic (quasicrystalline) tilings, such as Penrose’s tiling, can be built up from e.g. kites and darts, squares and equilateral triangles, rhombi or shield shaped tiles and can have a variety of different symmetries. However, almost all quasicrystals occurring in soft-matter are of the dodecagonal type. Here, we investigate a class of aperiodic tilings with hexagonal symmetry that are based on rectangles and two types of equilateral triangles. We show how to design soft-matter systems of particles interacting via pair potentials containing two length-scales that form aperiodic stable states with two different examples of rectangle–triangle tilings. One of these is the bronze-mean tiling, while the other is a generalization. Our work points to how more general (beyond dodecagonal) quasicrystals can be designed in soft-matter.</p>
    <h2>Editors' Suggestion: Editor's summary</h2>
    <p>This paper describes an investigation of soft-matter quasicrystals with hexagonal symmetry. Examining two different examples of rectangle-triangle tilings, the authors demonstrate how to design stable aperiodic soft-matter systems containing two length scales. Their work suggests ways to find a wider variety of quasicrystals in soft matter systems.</p>