extends ../../../layouts/_layout__abstracts

block title
  title axel

block pageTitle
  p Pearl-Necklace Structures in Core-Shell Molecular Brushes: Experiments, Monte Carlo Simulations, and Self-Consistent Field Modeling

block pageInfo
  <p>Alexey Polotsky, Marat Charlaganov, Youyong Xu, Frans A. M. Leermakers, Mohamed Daoud, Axel H. E. Mueller, Tomonori Dotera, and Oleg Borisov</p>
  <p>Macromolecules <b>41</b> (11), 4020-4028, 2008.</p>
  img(src="/assets/images/publications/core-shell_brush.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>We present theoretical arguments and experimental evidence for a longitudinal instability in core-shell cylindrical polymer brushes with a solvophobic inner (core) block and a solvophilic outer (shell) block in selective solvents. The two-gradient self-consistent field Scheutjens-Fleer (SCF-SF) approach and Monte Carlo (MC) simulations are employed to study a conformational transition which occurs upon a decrease in the solvent strength for the inner block from \theta to poor solvent conditions. It is found that a decrease in the solvent strength for the core block leads to an instability in the cylindrically uniform structure and the appearance of longitudinal undulations in the collapsed core of the molecular brush. This result of our modeling is in excellent agreement with experimental observations on core-shell brushes with poly(acrylic acid) (PAA) core and poly(nbutyl acrylate) shell, where the core forms pearl-necklace-like structures due to either a bad solvent for PAA or complexation with multivalent ions.</p>