extends ../../../layouts/_layout__abstracts

block title
  title Archimedean Tilings Obtained from Polymers

block pageTitle
  p Archimedean Tilings Obtained from Polymers

block pageInfo
  <p>Tomonari Dotera</p>
  <p>Butsuri <b>61</b>(2006) 8, pp.598-602, Current Topics</p>
  img(src="/assets/images/publications/butsuri2006.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title English
    p 
      | Three-colored two-dimensional tilings like textile designs have been obtained by means of the self-organization of ABC star block copolymers. These tilings are well described by Archimedean tilings studied by Kepler. Recently, an Archimedean tiling (3
      span.c-suptext 2
      | .4.3.4) having more complex molecular environments was found. This structure is known as the \sigma phase in the Frank-Kasper complex alloy family. Furthermore, it is an approximant of dodecagonal quasicrystals.
  section.p-section
    h3.p-section--title Japanese
    p 
      | ABC星型のブロック共重合体のミクロ相分離という自己組織化現象によって、テキスタイルと見まがうばかりの２次元タイル３色塗り分け紋様ができることが明らかになってきた。これらの紋様はケプラーも研究したアルキメデスタイリングとして分類できる。最近、分子周りの環境の複雑なアルキメデスタイリング(3
      span.c-suptext 2
      | .4.3.4)構造も発見された。これは複雑な合金層として知られるFrank-Kespaer相（σ相）と類似な構造で、12回対称準結晶の近似結晶になっている。