extends ../../../layouts/_layout__abstracts

block title
  title Comments on Eigenvalue Problems on the Fibonacci Quasicrystals

block pageTitle
  p Comments on Eigenvalue Problems on the Fibonacci Quasicrystals

block pageInfo
  <p>Tomonari Dotera</p>
  <p><i>(Proceedings of China-Japan seminars) Quasicrystals,</i></p>
  <p>K. H. Kuo and T. Ninomiya eds. World Scientific (1991), pp.316-323</p>

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>We review our recent development for electronic problems on the Fibonacci quasicrystal. Our method relies on transfer matrix method in terms of a new set of <i>self-similar polynomials</i>, a quasiperiodic generalization of the Chebyshev polynomials of the <i>first </i>kind. We discuss physical meaning with recourse to the polynomials, which clarifies the relation between the lattice and spectrum.</p>
  section.p-section
    h3.p-section--title Keywords
    <p>phase transformations, polymers, quasicrystals, self-assembly, specific heat</p>