extends ../../../layouts/_layout__abstracts

block title
  title The diagonal bond method: A new lattice polymer model for simulation study of block copolymers

block pageTitle
  p The diagonal bond method: A new lattice polymer model for simulation study of block copolymers

block pageInfo
  <p>Tomonari Dotera and Akira Hatano</p>
  <p>J. Chem. Phys. <b>105 </b>(1996),<b> </b>pp.8413-8427</p>
  img(src="images/dbm.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>A new lattice model for Monte Carlo simulations of dense polymer melts, developed in the spirit of Verdier-Stockmayer algorithm on square and simple cubic lattices, is presented. By introducing diagonals of squares and cubes as bonds, the lattice model acquires a large number of configurations and wiggling local moves. While it maintains the excluded volume interactions of monomers, it allows bond crossings and phantom moves, which result in a high mobility of polymers. For an application, we carry out simulations of symmetric <i>A-B</i> block copolymer melts and observe a first-order transition. We also show the stretching of the chains, namely, the non-Gaussian character, as a function of temperature. A quicker evolution towards thermal equilibrium enables us to form an ordered tricontinuous double-diamond (OTDD) phase for linear <i>A-B-C</i> triblock copolymers and a new cylindrical phase for star <i>A-B-C</i> triblock copolymers.</p>
  section.p-section
    h3.p-section--title Keywords
    p lock copolymer, simulation, Monte Carlo, diagonal bond method