extends ../../../layouts/_layout__abstracts

block title
  title Dodecagonal quasicrystal in a polymeric alloy

block pageTitle
  p Dodecagonal quasicrystal in a polymeric alloy

block pageInfo
  <p>T. Dotera and T. Gemma</p>
  <p>Pilosophical Magazine </font><font size="-1" color="black"><b>86</b>, pp.1085-1091 (2006)</p>
  <p>(ICQ9: Ninth International Conference on Quasicrystals, 2005 May)</p>
  img(src="/assets/images/publications/dodecaQC2006.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    p
      | We report the formation of an approximant of a dodecagonal quasicrystal in a quasi-two-dimensional lattice Monte Carlo simulation of a star-shaped three component polymeric alloy. It is associated with the recent striking experimental manifestation of the complex Archimedean tiling (3
      span.c-suptext 2
      | .4.3.4) consisting of triangles and squares, related to the $\sigma$ phase in the Frank-Kasper family, but whose edge length is about 80 nm. The simulation box with periodic boundary conditions (128*128*10) can be regarded as the Stampfli inflation of the (3
      span.c-suptext 2
      | .4.3.4) tiling, an approximant of the dodecagonal quasicrystal. The corresponding edge length of deflated squares and triangles is thought to be about 300 nm. Furthermore, the phason dynamics of the deflated square-triangle tiling is observed at an elevated temperature.
  section.p-section
    h3.p-section--title Keywords
    p quasicrystals; polymers; alloys; self-assembly; approximants; Monte-Carlo simulation