extends ../../../layouts/_layout__abstracts

block title
  title Dodecagonal quasicrystal in a polymeric alloy II: specific heat

block pageTitle
  p Dodecagonal quasicrystal in a polymeric alloy II: specific heat

block pageInfo
  <p>T. Dotera</p>
  <p>Pilosophical Magazine, pp. (2008)</p>
  img(src="images/spqc.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>In a previous paper, we reported the formation of a dodecagonal quasicrystal (DDQC) in a quasi-two-dimensional lattice Monte Carlo simulation of a star-shaped polymer. In this paper, we show a series of Archimedean and quasicrystalline phases (4.8<span class="c-suptext">2</span>) -> (3<span class="c-suptext">2</span>.4.3.4) -> DDQC -> (4.6.12) with increase of one component of ABC star polymers. The phase behaviour can be regarded as a transition between square tiling and triangle tiling via square-triangle tiling. We compare the specific heat for the phases and find that the DDQC sample possesses higher specific heat at high temperatures, which may be attributed to phason dynamics.</p>
  section.p-section
    h3.p-section--title Keywords
    <p>phase transformations, polymers, quasicrystals, self-assembly, specific heat</p>