extends ../../../layouts/_layout__abstracts

block title
  title Properties of Decapod Defects

block pageTitle
  p Properties of Decapod Defects

block pageInfo
  <p>Tomonari Dotera, Hyeong-Chai Jeong and Paul J. Steinhardt</p>
  <p><i>Methods of Structural Analysis of Modulated Structures and Quasicrystals,</i></p>
  <p>J.M.Perez-Mato, F.J.Zuniga and G.Madariaga eds. World Scientific (1991), pp.660-666</p>
  img(src='/assets/images/publications/decapod.jpg')

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>e present some results from an ongoing analysis of &quot;decapod defects&quot; in Penrose tilings. This class of topological defects, which appears to be unique to quasiperiodic systems, may play an important role in the rapid growth of large, near-perfect quasicrystals and in the phase transformation from quasicrystals to crystals.heat at high temperatures, which may be attributed to phason dynamics.</p>