extends ../../../layouts/_layout__abstracts

block title
  title Formation of Multicontinuous Structures in Block Copolymer Melts

block pageTitle
  p Formation of Multicontinuous Structures in Block Copolymer Melts

block pageInfo
  <p>Tomonari Dotera and Akira Hatano</p>
  <p>Progr. Colloid Polym. Sci. <b>106 </b>(1997), pp.147-149</p>
  img(src="/assets/images/publications/polym_gem.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>Using a new lattice polymer simulation method for block copolymers, we have studied a dense polymer system composed of monodisperse linear A-B-C triblock copolymers. We confirm that a tricontinuous structure for linear A-B-C block copolymers observed by Mogi et al. (Macromolecule <b>25</b>, 5408 (1992) and ibid. <b>25</b>, 5412 (1992)) could be, indeed, an ordered tricontinuous <b>&quot;</b>double-diamond<b>&quot;</b> (OTDD) structure. In addition, two (symmetric and shifted) OTDD phases and a lamellar phase have been observed in the same simulations. The two OTDD phases are conceivable by shifting one diamond network against the other diamond network.</p>
  section.p-section
    h3.p-section--title Keywords
    <p>Block copolymer, microphase separation, double-diamond, computer simulation</p>