extends ../../../layouts/_layout__abstracts

block title
  title High Temperature Expansion for the Ising Model on the Dual Penrose Lattice

block pageTitle
  p High Temperature Expansion for the Ising Model on the Dual Penrose Lattice

block pageInfo
  <p>Tomonari Dotera and Ryuzo Abe</p>
  <p>J. Phys. Soc. Jpn. <b>59</b> (1990), pp.2064-2077</p>
  img(src='/assets/images/publications/HE_on_dual_penrose.jpg')

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>High temperature expansion for ln <i>Z</i> (<i>Z</i> : the partition function in the absence of a magnetic field) of the Ising model on the dual Penrose lattice is discussed. The terms up to <i>w</i><span class="c-suptext">10</span> are derived by using projection method. The critical compressibility factor <i>Z</i><span class='c-subtext'>c</span> and the average correlation function <i><u>C</u></i> are calculated in terms of duality relation. The final results are <i>Z</i><span class="c-subtext">c</span> = 0.0846 +-0.007 and <i><u>C</u></i>= 0.7403+-0.0024, which are confirmed by the expansion. Lattice constants are shown in some tables.</p>

  section.p-section
    h3.p-section--title Keywords
    <p>critical phenomena, critical compressibility factor, dual Penrose lattice, duality, high temperature expansion, Ising model, lattice constant, projection method, theory</p>