extends ../../../layouts/_layout__abstracts

block title
  title Microphase Separation Morphology in Multiblock Copolymer Melts Obtained from Monte Carlo Simulations

block pageTitle
  p Microphase Separation Morphology in Multiblock Copolymer Melts Obtained from Monte Carlo Simulations

block pageInfo
  <p>Tomonari Dotera, Akira Hatano, and Tohru Gemma</p>
  <p>Kobunshi Ronbunshu <b>56</b> (1999), pp.667-673</p>
  img(src="/assets/images/publications/abcstar.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>A lattice polymer simulation method called diagonal bond method is discussed: Why does the method enable us to simulate complex morphologies? We demonstrate cell crystalline structures for ABCD star block copolymers, and cylindrical structures for asymmetric ABC star block copolymers. A common geometric constraint for these starblock copolymers is explicitly given. For ABC triblock copolymers, we have obtained four structures: gyroid, double-diamond, lamellar, and cylindrical structures. For all structures in this paper pictorial presentation is given.</p>

  section.p-section
    h3.p-section--title Abstract (Japanese)
    <p>格子上の高分子シミュレーション手法である対角線法の特徴と対角線法で複雑なブロック共重合体ミクロ相分離の形成に成功した理由を議論した．また，実験的には未発見の構造である対称ABCD星形ブロック共重合体の作る胞晶（Cell Crystal）構造と非対称ABC星形ブロック共重合体の作るシリンダー構造のコンピューター画像を示し、それらの幾何学的特徴を述べた。ABCトリブロック共重合体については，４種類（Gyroid，Double-diamond，ラメラ，シリンダー）の構造が得られた．</p>

  section.p-section
    h3.p-section--title Keywords
    <p>Block Copolymer, Microphase Separation, Computer Simulation, Cell Crystal, Starblock Copolymer, Gyroid Structure</p>