extends ../../../layouts/_layout__abstracts

block title
  title Hard Spheres on the Gyroid Surface

block pageTitle
  p Hard Spheres on the Gyroid Surface

block pageInfo
  <p>Tomonari Dotera, Masakiyo Kimoto and Junichi Matsuzawa</p>
  <p>Interface Focus <b>2,</b> 575-581, 2012. DOI: 10.1098/rsfs.2011.0092</p>
  img(src="/assets/images/publications/hsong.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>We find that 48/64 hard spheres per unit cell on the gyroid minimal surface are entropically self-organized. The striking evidence is obtained in terms of the acceptance ratio of Monte Carlo moves and order parameters. The regular tessellations of the spheres can be viewed as hyperbolic tilings on the Poincar'e disk with a negative Gaussian curvature, one of which is equivalently, the arrangement of angels and devils in Escher's Circle Limit IV.</p>
  section.p-section
    h3.p-section--title Keywords
    <p>Gyroid surface; hard sphere; hyperbolic tiling; ABC star polymer; membrane; bicontinuous phase; fluid-solid transition; simulation</p>