extends ../../../layouts/_layout__abstracts

block title
  title Quasicrystals in Soft Matter

block pageTitle
  p Quasicrystals in Soft Matter

block pageInfo
  <p>Tomonari Dotera</p>
  <p>Israel Journal of Chemistry <b>51,</b> 1197-1205 (2011).</p>
  <p><a href="http://onlinelibrary.wiley.com/doi/10.1002/ijch.201310001/full#tbl1">2012 The most downloaded articles in Isr J. Chem.</a></p>
  img(src="images/softQCreview.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>Two decades after the first publication on quasicrystals in aluminum manganese alloys by Shechtman et al., a "soft quasicrystal" was found in nature. Since then a number of materials successively joined the family of soft quasicrystals, including liquid crystals, polymers, nanoparticles, colloids, mesoporous silica, and even water and silicon. In this article, important experimental advances are reviewed to introduce readers to the emerging research front of soft quasicrystalline materials. The world of quasicrystals opened by Daniel Shechtman extends its reach into the twenty-first century chemistry.</p>
  section.p-section
    h3.p-section--title Keywords
    <p>Archimedean tiling; colloids; core-shell particle; liquid crystals; polymers; quasicrystal; soft matter</p>