extends ../../../layouts/_layout__abstracts

block title
  title Phason Elasticity and Ising Models

block pageTitle
  p Phason Elasticity and Ising Models

block pageInfo
  <p>Tomonari Dotera</p>
  <p>Material Science Forum <b>150-151 </b>(1994),<b> </b>pp.375-386</p><p>(International Symposium on Quasicrystals and Imperfectly Ordered Crystals, 1993 Aug.-Sept.)</p>
  img(src="images/ising_phason.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>We illustrate that locking/unlocking transitions between locked (Penrose tiling-like) and unlocked (random tiling-like) phason dynamics for D-dimensional quasicrystals closely relate to the order/disorder transitions for (D-1)-dimensional Ising models. Namely, a hidden Ising-like symmetry in quasicrystals is found. The transition is observed in the ordering/disordering in worms (sheets) for 2D (3D) quasicrystals. In this paper, a finite-temperature phase transition with the 2D Ising critical exponents in 3D icosahedral quasicrystals is demonstrated using Monte Carlo computer simulations. We also propose a new type of quasicrystals called &quot;absolutely locked quasicrystals&quot; in which uniform phason shifts are prohibited.</p>
  section.p-section
    h3.p-section--title Keywords
    <p>Penrose Tilings, Icosahedral Quasicrystals, Phase Transformation, Locked Phason Dynamics, Ising Models, Computer Simulation</p>