extends ../../../layouts/_layout__abstracts

block title
  title Kagome and Diced Lattices

block pageTitle
  p Critical Compressibility Factor of Two-Dimensional Lattice Gas - <i>Kagome and Diced Lattices</i>-

block pageInfo
  <p>Ryuzo Abe, Tomonari Dotera and Takeshi Ogawaa</p>
  <p>Prog. Theor. Phys. <b>84 </b>(1990), pp.425-435</p>
  img(src='images/kagome_dice.jpg')

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>The critical compressibility factor <i>Zc</i> at the gas-liquid critical point is defined by <i>Zc</i>=<i>pcVc</i>/<i>Nk</i><span class="c-subtext">B</span><i>Tc</i> (<i>pc</i>: critical pressure, <i>Vc</i>: critical volume, <i>Tc</i>: critical temperature, <i>k</i><span class="c-subtext">B</span>: Boltzmann's constant, <i>N</i>: number of molecules). The <i>Zc</i> of the lattice gas on the Kagome or diced lattice is discussed. First, on the basis of exact solution for the partition function <i>Z</i> of the Ising model without magnetic field on these lattices, the <i>Zc</i> is calculated exactly. The results are <i>Zc</i>=0.08330842<b>... </b>(Kagome lattice) and <i>Zc</i>=0.14284554<b>...</b> (diced lattice). Secondly, high temperature expansion for <i>Zc </i>is studied and the expansion is carried out up to <i>w</i><span class="c-suptext">13</span> for the Kagome lattice and up to <i>w</i><span class="c-suptext">12</span> for the diced lattice. Extrapolation procedures for obtaining <i>Zc</i> are discussed. A similarity between the diced and Penrose lattices and the one between the Kagome and dual Penrose lattices are pointed out.</p>