extends ../../../layouts/_layout__abstracts

block title
  title Superspace Approach to the Electronic States of a Quasicrystal

block pageTitle
  p Superspace Approach to the Electronic States of a Quasicrystal

block pageInfo
  <p>Tukasa Kawanabe and Tomonari Dotera</p>
  <p>Phys. Rev. B <b>**</b> (2018), pp.</p>
  img(src="/assets/images/publications/kawanabe2018.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>In tight-binding models of quasiperiodic tilings, it is known that almost all states are neither extended nor localized but critical, yet unknown its enigmatic nature. Using a higher-dimensional superspace approach, we study critical wave functions of a tight-binding model for a bronze-mean quasicrystal. By elucidating the relation between local geometry and the wave functions, we demonstrate that the self-similarity of the wave functions are easily identified in the fractal superspace, suggesting the usefulness of the superspace approach in searching for physical properties of quasicrystals.</p>