extends ../../../layouts/_layout__abstracts

block title
  title Cell Crystals: Kelvin's Polyhedra in Block Copolymer Melts

block pageTitle
  p Cell Crystals: Kelvin's Polyhedra in Block Copolymer Melts

block pageInfo
  <p>Tomonari Dotera</p>
  <p>Phys. Rev. Lett. <strong>82 </strong>(1999), pp.105-108</p>
  img(src="images/cell_crystal.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>Using Monte Carlo simulations we find that a monodisperse symmetric ABCD star-block copolymer melt undergoes a microphase separation, in which the three space is divided into cellular domains. The domain shape is a cubooctahedron known as the Wigner-Seitz cell of the body-centered cubic lattice. To be precise, the shape is a Lord Kelvin's minimal tetrakaidecahedron proposed in 1887 for the space-filling problem of equal-sized foam bubbles.</p>