extends ../../../layouts/_layout__abstracts

block title
  title みみず鎖モデルの末端間距離の厳密解

block pageTitle
  p みみず鎖モデルの末端間距離の厳密解

block pageInfo
  <p>[Phys. Rev. E, 投稿中 (2005)]</p>
  <p>紹介者 = 堂寺知成</p>
  <p>高分子　<b>54</b> (2005) 7月号，海外ニュース，p.492</p>

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>　みみず鎖モデルはDNA，高分子電解質，多糖類，高分子ブラシなど半屈曲性高分子を記述する優れたモデルである。しかし，ガウス鎖の末端間距離の分布関数は教科書に載っているが，みみず鎖モデルの厳密解が得られたのは近年のことである。このA.J. SpakowitzとZ.-G. Wangによる論文では，山川の展開した図形的方法を利用して，末端間距離分布のフーリエ・ラプラス空間におけるグリーン関数の連分数展開を行い，末端間距離が厳密に計算された。彼らは屈曲性のパラメータを持続長と高分子の長さが同じ程度の場合，末端間距離が２つのピークをもつ分布関数になることを示した。つまり高分子が伸びた状態（エネルギー優勢）と丸まった状態（エントロピー優勢）の２状態を取ることになる。これらを理解するためには彼らの<i>Macromolecules</i>, <b>37</b>(15), 5814 (2004)も参考になり，著者の一人のWang教授はソフトマター2005 (8/1-3京大基研)で講演される予定である。また，別グループによる論文Phys. Rev. E, <b>71</b>, 021909 (2005)では，局所的屈曲（キンク）可能な半屈曲性高分子モデルの厳密解を扱っている。</p>