extends ../../../layouts/_layout__abstracts

block title
  title Dodecagonal quasicrystal in a polymeric alloy

block pageTitle
  p Dodecagonal quasicrystal in a polymeric alloy

block pageInfo
  <p>Tomonari Dotera</p>
  <p>Pilosophical Magazine <b>87</b>, pp.3011-3019 (2007)</p>
  <p>(Aperiodic 2006, 2006 Sept)</p>
  <p>Published on line 08 Dec., 2006</p>
  <p>Small corrections have been found.</p>
  <p>In Eq.(6), 1/6 should be 1/2.</p>
  <p>In Eq.(7), 7/6 should be 4/3.</p>
  <p><a href="../pdf/figure3new.pdf">Accordingly, Fig.3(a) has been changed a little.</a></p>
  img(src="/assets/images/publications/mean_field.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>A simple Landau theory of three-component alloy systems under incompressible condition is investigated, which appears to give regions of the phase diagram in which Archimedean tiling phases are stable in two-dimensions. Moreover, we find regions where dodecagonal and decagonal quasicrystals appear to be stable. Alexander-MacTague and Mermin-Troian theories of weak crystallization are revisited.</p>
  section.p-section
    h3.p-section--title Keywords
    <p>Keywords: quasicrystals; polymers; phase stability, self-assembly; approximants; Archimedean tilings</p>