extends ../../../layouts/_layout__abstracts

block title
  Four-fold metallic-mean quasicrystals as aperiodic approximants of the square lattice

block pageTitle
  p Four-fold metallic-mean quasicrystals as aperiodic approximants of the square lattice

block pageInfo
  <p>Joichiro Nakakura, Primož Ziherl and Tomonari Dotera</p>
  <p>Physical Review B<b>110</b>, 014108 (2024).</p>
  <p><a href="https://doi.org/10.1103/PhysRevB.110.014108">https://doi.org/10.1103/PhysRevB.110.014108</a></p>
  img(src="/assets/images/publications/nzd2024.png")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>By proposing a family of two-lengthscale quasicrystalline tilings characterized by even-numbered metallic-mean inflation ratios, we extend the recently introduced notion of aperiodic approximants of triangular and honeycomb lattices to square crystals. The proposed family originates in the eightfold Ammann-Beenker and fourfold Harriss quasicrystals and is based on sets of two square tiles and a parallelogram. We elaborate the higher-dimensional representation of the new tilings and we show that at large inflation ratios they tend to the square lattice just like their triangular and hexagonal counterparts.</p>
