extends ../../../layouts/_layout__abstracts

block title
  Four-fold metallic-mean quasicrystals as aperiodic approximants of the square lattice

block pageTitle
  p Four-fold metallic-mean quasicrystals as aperiodic approximants of the square lattice

block pageInfo
  <p>Joichiro Nakakura, Primo\v z Ziherl and Tomonari Dotera</p>
  <p><b>Editors' Suggestion:</b> Physical Review E<b>106</b>, 044602 (2022).</p>
  <p><a href="https://doi.org/</a></p>
  img(src="/assets/images/publications/nzd2023.png")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>Until recently, the most characteristic feature of quasicrystals was presumed to be their once-forbidden rotational symmetry. Here we complement the existing counterexamples, which include patterns with square and hexagonal symmetry, by an infinite two-parameter family of 4-fold aperiodic tilings based on three tiles. This family includes a sequence of tilings characterized by even-numbered metallic-mean inflation ratios, which in turn begins with the 8-fold Ammann--Beenker and the 4-fold Harriss quasicrystals as special cases. We elaborate the higher-dimensional representation of these tilings, and we show that at large inflation ratios they tend to periodic patterns like their hexagonal multiple-of-3 metallic-mean analogs [J.~Nakakura et al., Nat.~Commun.~{¥bf 10}, 4235 (2019)]. As such, the proposed family of 4-fold tilings constitute another type of aperiodic approximants of periodic crystals,  filling the gap between quasicrystals and incommensurate structures.
