extends ../../../layouts/_layout__abstracts

block title
  title High Temperature Expansion for the Ising Model on the Penrose Lattice

block pageTitle
  p High Temperature Expansion for the Ising Model on the Penrose Lattice

block pageInfo
  <p>Ryuzo Abe and Tomonari Dotera</p>
  <p>J. Phys. Soc. Jpn. <b>58 </b>(1989), pp.3219-3226</p>
  img(src='images/HE_on_penrose.jpg')

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>High temperature expansion for ln <i>Z</i> (<i>Z</i>: the partition function in the absence of magnetic field) of the Ising model on the Penrose lattice is discussed. The terms up to the order of <i>w</i><span class='c-suptext'>8</span> are derived. To illustrate an extrapolation procedure employed here, the critical compressibility factor <i>Z</i><span class='c-subtext'>c</span> and the correlation function <i>C</i> at <i>T</i><span class='c-subtext'>c</span>, for the neighboring spin pair are first treated in the case of two-dimensional square lattice. It turns out that the terms up to <i>w</i><span class="c-suptext">8 </span>for ln <i>Z</i> lead to the results within the error of 0.2 ~ 0.30% as compared to exact values. Along the same line, <i>Z</i><span class="c-subtext">c</span> and <i><u>C</u></i> (average correlation function) are calculated for the Penrose lattice. The final results are <i>Z</i><span class="c-subtext">c</span> = 0. 138+-0.002 and <i><u>C</u></i> = 0.673+-0.003.</p>

  section.p-section
    h3.p-section--title Keywords
    <p>high temperature expansion, Ising model, Penrose lattice, critical phenomena, theory</p>