extends ../../../layouts/_layout__abstracts

block title
  title Ising-Like Transition and Phason Unlocking in Icosahedral Quasicrystals

block pageTitle
  p Ising-Like Transition and Phason Unlocking in Icosahedral Quasicrystals

block pageInfo
  <p>Tomonari Dotera and Paul J. Steinhardt</p>
  <p>Phys. Rev. Lett. <b>72 </b>(1994), pp.1670-1673</p>
  img(src="images/phason_unlocking.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>Using Monte Carlo computer simulations, we find strong evidence for a novel, finite-temperature, Ising-like transition in the alignment of unit cells in icosahedral quasicrystals. The Ising-like transition may be related to the transition in phason behavior from a locked (Penrose-tiling-like) phase at low temperatures to an unlocked (random-tiling-like) phase at high temperatures.</p>
  section.p-section
    h3.p-section--title Keywords
    <p>phason, quasicrystal, random tiling</p>