extends ../../../layouts/_layout__abstracts

block title
  title Photonic band structure calculations of two-dimensional Archimedean tiling patterns

block pageTitle
  p Photonic band structure calculations of two-dimensional Archimedean tiling patterns

block pageInfo
  <p>Kazunari Ueda, Tomonari Dotera, and Tohru Gemma</p>
  <p>Phys. Rev. B <b>75</b> (2007) 195122</p>
  img(src="/assets/images/publications/prb2007.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>We present a study of photonic band structures of two-dimensional Archimedean tiling patterns. The tilings we have investigated are (4.8.8), (6.6.6), (4.6.12), and (3.3.4.3.4), which have been discovered computationally and experimentally in self-assembled microphase separation of ABC star block terpolymers systems. Using plane wave method, we have calculated eigenvalue equations for various combinations of dielectric contrast on the complex patterns. We demonstrate the existence of complete photonic band gaps in the (4.6.12) structure. Furthermore, we find that complete photonic bands readily open in the (3.3.4.3.4) structures in the same way as in dodecagonal quasicrystals. Complex tilings open up a new way to construct photonic crystals.</p>