extends ../../../layouts/_layout__abstracts

block title
  title Collective Atomic Flows in Random Tiling Quasicrystals

block pageTitle
  p Collective Atomic Flows in Random Tiling Quasicrystals

block pageInfo
  <p>Tomonari Dotera</p>
  <p><i>Proceedings of the 5th. International Conference on Quasicrystals,</i ></p>
  <p>C. Janot and R. Mosseri eds. World Scientific (1995), pp.232-235</p>
  img(src="/assets/images/publications/phason_flip.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>IWe show that in terms of phason flips collective motions of atoms in quasicrystalline tilings are possible: atomic flows and large deformations. Approximants or large density fluctuations are associated with the atomic flows that cause plastic deformations. In this scheme no dislocations are needed. We view random tilings as metallic rubbers exhibiting plast-elasticity in analogy with the visco-elasticity of polymeric materials.</p>