extends ../../../layouts/_layout__abstracts

block title
  title Can Quasicrystals Flow?

block pageTitle
  p Can Quasicrystals Flow?

block pageInfo
  <p>Tomonari Dotera</p>
  <p><i>Proceedings of the 6th. International Conference on Quasicrystals,</i ></p>
  <p>S.Takeuchi and T.Fujiwara eds. World Scientific (1998), pp.501-504</p>
  img(src="images/phason_move.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>In terms of phason rearrangements, in which bond orientational order is perfectly preserved, we find a novel macroscopic mass conduction mode in quasiperiodic tilings. We demonstrate it by a restricted random flip approach in Monte Carlo simulations of the 2D pentagonal tiling. To attain a shear macroscopic flow, entropically unfavorable configurations like crystalline alignment of tiles are used, where phason rearrangements convey atoms most effectively. Without recourse to the conventional dislocation mechanism of plastic deformations, rearrangements of unit tiles alone could induce a plastic flow at highly elevated temperatures.</p>