extends ../../../layouts/_layout__abstracts

block title
  title Computer studies of a phase transition of icosahedral quasicrystals

block pageTitle
  p Computer studies of a phase transition of icosahedral quasicrystals

block pageInfo
  <p>Tomonari Dotera</p>
  <p>Materials Science and Engineering, <b>A181/A182 </b>(1994), pp.758-761</p><p>(RQ8: Eighth International conference on Rapid Quench and Metastable Materials, 1993 Aug.)</p>
  img(src='/assets/images/publications/sheet_mag.jpg')

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>In this paper, we present results of Monte Carlo simulations of icosahedral quasicrystals, which investigate the structural change from a Penrose-like phase to a random tiling phase. We demonstrate a finite temperature transition (<i>k</i><span class="c-subtext">B</span><i>Tc</i>= 1 .52+-0.05 in units of mismatch energies), which implies that equilibrium quasicrystalline materials can be energetically stabilized at finite temperature and can undergo a transition to a random tiling phase at high temperature. The structural change characterized by &quot;sheet&quot; statistics and &quot;sheet magnetization&quot; is illustrated. Dynamic phasons are locked below <i>Tc</i>.</p>