extends ../../../layouts/_layout__abstracts

block title
  title Dynamical systems for quasiperiodic chains and new self-similar polynomials

block pageTitle
  p Dynamical systems for quasiperiodic chains and new self-similar polynomials

block pageInfo
  <p>Toshi-kazu Suzuki and Tomonari Dotera</p>
  <p>J. Phys. A: Math. Gen. <b>26 </b>(1993), pp.6101-6113</p>
  img(src='images/ssp_fg.jpg')

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>Dynamical systems in <i>SL</i>(2, <b>R</b>) or <i>SL</i>(2, <b>C</b>) naturally appear in the transfer matrix method for quasiperiodic chains characterized by arbitrary irrational numbers. We show new sub-dynamical systems and invariants that are related to full diagonal and off-diagonal components of the transfer matrices; they are analogous to formulae of Chebyshev polynomials of the first and second kinds. Applying them to an electronic problem on the Fibonacci chain, we obtain sets of self-similar polynomials, <i>quasiperiodic extension of the Chebyshev polynomials</i> of the first and second kinds with self-similar properties. Two scaling factors of the self-similarities coincide with ones obtained by the perturbative decimation renormalization group method.</p>