extends ../../../layouts/_layout__abstracts

block title
  title Rectangle-triangle soft-matter quasicrystals with hexagonal symmetry

block pageTitle
  p Rectangle-triangle soft-matter quasicrystals with hexagonal symmetry

block pageInfo
  <p>Hideaki Tanaka, Tomonari Dotera, Stephen T. Hyde</p>
  <p>ACS NANO <b>XXX</b>, XXXX-XXXX (2023).</p>
  <p><a href="https://doi.org/">doi:</a></p>
  img(src="/assets/images/publications/tdh2023.png")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>Self-assembly is the process by which individual components arrange themselves into an ordered structure by changing shapes, components, and interactions. It has enabled us to construct an extensive range of geometric forms at many length scales. Nevertheless, the potential of two-dimensional polygonal nanoplates to self-assemble into extended three-dimensional structures with compartments and corridors has remained unexplored. In this paper, we show coarse-grained Monte Carlo simulations demonstrating self-assembly of hexagonal/triangular nanoplates via complementary interactions into facetted, sponge-like “bicontinuous polyhedra” (or infinite polyhedra) whose flat walls partition space into a pair of mutually interpenetrating labyrinths. Two bicontinuous polyhedra can be self-assembled: the regular (or Platonic) Petrie-Coxeter infinite polyhedron (denoted {6,4|4}) and the semi-regular Hart “gyrangle”. The latter structure is chiral, with both left- and right-handed version. We show that the Petrie-Coxeter assembly is constructed from two complementary populations of hexagonal nanoplates. Furthermore, we find that the 3D chiral Hart gyrangle can be assembled from identical achiral triangular nanoplates decorated with regioselective complementary interaction sites. The assembled Petrie-Coxeter and Hart polyhedra are facetted versions of two of the simplest triply periodic minimal surfaces, namely Schwarz’ Primitive and Schoen’s Gyroid surfaces respectively, offering alternative routes to those bicontinuous nanostructures, which are widespread in synthetic and biological materials.</p>

  