extends ../../../layouts/_layout__abstracts

block title
  title The effect of channel width on migration dynamics

block pageTitle
  p Electrophoresis of long deoxyribonucleic acid in curved channels:  The effect of channel width on migration dynamics

block pageInfo
  <p>Masanori Ueda, Tetsuya Hayama, Yuzuru Takamura, Yasuhiro Horiike, Tomonari Dotera, and Yoshinobu Baba</p>
  <p>J. Appl. Phys. <b>96</b> (2004) pp. 2937-2944</p>
  img(src="/assets/images/publications/curved_channel.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>We investigated the dynamics of long deoxyribonucleic acid (DNA) migrating through curved channels under electric fields. Long DNA exhibits large conformational changes in the curved channels because of the inhomogeneity of the electric fields around curves. Two kinds of channel shapes were used for the examination. One (type I) has the same width in the curved region as in the straight region. The other (type II) is wider in the curved region than in the straight region. The difference in migration rates between long DNA and short DNA was larger in type II than in type I chips. We discuss the separation mechanism of the type II chip. </p>