extends ../../../layouts/_layout__abstracts

block title
  title Voronoi Space Division of a Polymer

block pageTitle
  p Voronoi Space Division of a Polymer: Topological Effects, Free Volume and Surface End Segregation

block pageInfo
  <p>Nakako Tokita, Megumi Hirabayashi, Chiaki Azuma, and Tomonari Dotera</p>
  <p>J. Chem. Phys. <b>120 </b>(2004),<b> </b>pp.496-505</p>
  img(src="/assets/images/publications/voronoi.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>In order to investigate the topological effects of chain molecules, united-atom molecular dynamics simulations of a 500-mer polyethylene linked by 50 hexyl groups (a grafted polymer having 52 ends) are carried out and analyzed in terms of Voronoi space division. We find that the volume of a Voronoi polyhedron for a chain end is larger than that for an internal or junction atom, and that it is the most sensitive to temperature, both of which suggest higher mobility of chain ends. Moreover, chain ends dominantly localized at the surface of the globule: The striking evidence is that while the ratio of surface atoms is only 24% of all atoms, the ratio of ends at the surface is 91% out of all ends. The shape of Voronoi polyhedra for internal atoms is prolate even in the bulk, and near the surface it becomes more prolate. We propose the concept of <i>bonding faces</i>, which play a significant role in the Voronoi space division of covalently bonding polymers. Two bonding faces occupy 38% of the total surface area of a Voronoi polyhedron and determine the prolate shape.</p>