extends ../../../layouts/_layout__abstracts

block title
  title Giant Zincblende Structures Formed by an ABC Star-Shaped Terpolymer/Homopolymer Blend System

block pageTitle
  p Giant Zincblende Structures Formed by an ABC Star-Shaped Terpolymer/Homopolymer Blend System

block pageInfo
  <p>Kenichi Hayashida, Atsushi Takano, Tomonari Dotera, and Yushu Matsushita</p>
  <p><a href="http://pubs.acs.org/doi/abs/10.1021/ma801367v">Macromolecules <b>41</b> (17), 6269-6271 (Communication to the Editor), 2008.</a></p>
  img(src="images/giant_zincblend.jpg", alt="", srcset="")

block contents
  section.p-section
    h3.p-section--title Abstract
    <p>We have found a giant zincblende structure with a 45 nm lattice constant in an ABC star polymer / homopolymer blend system. Alternating four-coordinate cellular domains of components A and B form a diamond lattice by using space-division property of ABC star polymers.Transmission electron micrographs reveal spherical domains of A and B with space-filling component C, and small-angle X-ray scattering confirms the corresponding F-43m space group symmetry. The present result opens a new way to construct mesoscale non-close-packed lattices, which have a relevance to photonic applications.</p>