-
  var items = [
    {
      name: '山本　佳奈',
      year: 2024,
      month: 3,
      text: "卒業論文「ジャイロイド二重膜での剛体球の規則的配置」。STATPHYS28「Hexagulation numbers: the Magic numbers of equal spheres on the Gyroid surfaces」。修士論文「ジャイロイド曲面上の球のキラルな規則的配置」",
      image: 'yamamoto2021.png'
    },
    {
      name: '保田　晃平',
      year: 2024,
      month: 3,
      text: "卒業論文「三角格子から生成される準結晶タイリングの研究」",
    },
   {
      name: '堀田　大祐',
      year: 2024,
      month: 3,
      text: "卒業論文「ジャイロイド上での剛体球の規則的配置」",
    },
    {
      name: 'XIA DONGDONG',
      year: 2024,
      month: 3,
      text: "卒業論文「Tübingen triangle tiling準結晶の電子状態」",
    },
    {
      name: '富林　柊亮',
      year: 2024,
      month: 3,
      text: "卒業論文「ジャイラングルの製作と遮音効果測定」",
    },
    {
      name: '吉良　樹',
      year: 2024,
      month: 3,
      text: "卒業論文「混合自由エネルギーを決定する仕事関係式」",
    }
    {
      name: '久野　慎吾',
      year: 2023,
      month: 3,
      text:"卒業論文「チュービンゲン三角形タイリングの電子状態」",
      image: 'kuno.jpg'
    },
    {
      name: '辻　一平',
      year: 2023,
      month: 3,
      text:"卒業論文「3Dプリンターを用いたジャイラングルの製作と遮音効果」",
      image: 'tsuji.jpg'
    },      
    {
      name: '高瀬　みこと',
      year: 2022,
      month: 3,
      longtext:
      [
      "2019年11月「固液を区別するパラメタ―長距離秩序か配向秩序か―」研究会ポスター発表",
      "卒業論文「イベント連鎖モンテカルロ法の再現と拡張」",
      "2021年3月第25回準結晶研究会（オンライン）新学術領域ハイパーマテリアル第2回若手研究会",
      "2021年3月日本物理学会第76回年次大会（オンライン）",
      "2021年12月Materials Research Meeting 2021 (MRM21)ポスター発表（PACIFICO YOKOHAMA）",
      "修士論文「拡張HCSSペアポテンシャルによるチュービンゲントライアングルタイリングの形成」"
      ],
      image: 'takase.png'
    },
    {
      name: '森本　康太',
      year: 2022,
      month: 3,
      longtext:
      [
      "卒業論文「準結晶の秩序-無秩序転移について」",
      "修士論文「拡張HCSSペアポテンシャルを用いた新規6方準結晶のモンテカルロシミュレーション」",
      "2022年3月に日本物理学会ポスター発表（オンライン）"
       ],
      image: 'morimoto.png'
    },
    {
      name: '井上　裕斗',
      year: 2022,
      month: 3,
      text: "卒業論文「階段型ポテンシャルで相互作用するソフト粒子系におけるクラスター準結晶の自己組織化」",
      image: 'inoue2019.jpg'    
    },
    {
      name: '峰　勇允',
      year: 2022,
      month: 3,
      text: "卒業論文「多孔質媒体における音の伝播の研究」",
      image: 'mine2021.png'    
    },
    {
      name: '今井　由斗',
      year: 2022,
      month: 3,
      text: "卒業論文「相転移の統計力学」",
      image: 'imai2021.png'    
    },
    {
      name: '森本　雄斗',
      year: 2022,
      month: 3,
      text: "卒業論文「ジャイロイド構造の音響効果測定」",
      image: 'morimotoy2021.png'    
    },
    {
      name: '谷口　育実',
      year: 2022,
      month: 3,
      text: "卒業論文「海洋の様々な波」",
      image: 'taniguchi2021.png'    
    },
    {
      name: '中津　健志',
      year: 2021,
      month: 3,
      text: "卒業論文「ジャイロイド構造の音響効果」",
      image: 'nakatsu2019.jpg'    
    },
    {
      name: '早谷　勇佑',
      year: 2021,
      month: 3,
      text: "卒業論文「機械学習を用いた2次元スピンモデルの相状態からの温度推定」",
      image: 'hayatani2019.jpg'    
    },
    {
      name: '後藤　蒼矢',
      year: 2021,
      month: 3,
      text: "卒業論文「モルフォチョウが持つ多層膜構造のスペクトル反射率」",
      image: 'goto2019.jpg'    
    },
    {
      name: '小林　孝樹',
      year: 2021,
      month: 3,
      text: "卒業論文「ソフト微粒子を用いた複雑な平面充填図形の自己組織化シミュレーション」",
      image: 'kobayashi2019.jpg'    
    },
    {
      name: '原　圭亮',
      year: 2021,
      month: 3,
      text: "卒業論文「高分子ジャイロイドをテンプレートにした金属ネットワーク磁性」",
      image: 'hara2019.jpg'    
    },
    {
      name: '山崎　快斗',
      year: 2021,
      month: 3,
      text: "卒業論文「情報熱力学から熱力学第二法則の一般化」",
      image: 'yamasaki2019.jpg'    
    },
    {
      name: '中蔵 丈一郎',
      year: 2020,
      month: 3,
      image: 'nakakura.jpg',
      longtext:
      [
        "卒業論文「青銅比準結晶から派生する非周期的タイリング構造」",
        "2018年3月、9月に物理学会発表。",
        "2018年6月にエジンバラで発表。",
        "2018年9月の日本物理学会で学生優秀発表賞が新設され、受賞。",
        "2018年9月の近畿大学大学院第8回院生サミットで口頭発表。",
        "2018年11月海外派遣リュブリャナ大学ステファン研究所 (スロベニア)",
        "2018年12月準結晶研究会で発表。",
        "総合理工マスターズ2019で優秀ポスター賞。",
        "2019年3月に日本物理学会発表。",
        "2019年5月に第14回準結晶国際会議ポスター発表 (スロベニア)。",
        "2019年6月に国際会議ポスター発表（東北大学）。",
        "2019年9月にNature Communicationsに第一著者で論文発表。",
        "2020年3月に日本物理学会発表（オンライン）学生優秀発表賞受賞（2回目）",
        "2020年3月に近畿大学大学院　学長賞。"
      ],
      link: "https://www.facebook.com/KindaiSciEng/photos/pcb.1997343360309004/1997342880309052/?type=3&theater"
    },
    {
      name: '山中　翔',
      year: 2020,
      month: 3,
      text: "卒業論文「3角形によるジャイロイド構造の自己組織化」",
      image: 'yamanaka.png'
    },
    {
      name: '木村　千愛',
      year: 2020,
      month: 3,
      text: "卒業論文「高分子シミュレーションによる蝶ジャイロイド結晶の再現」",
      image: 'kimurac.png'
    },
    {
      name: '木村　智哉',
      year: 2020,
      month: 3,
      text: "卒業論文「ハイプレイン多面体」",
      image: 'kimurat.png'
    },
    {
      name: '高山　宗',
      year: 2020,
      month: 3,
      text: "卒業論文「結晶固体中の原子の振動模型について」",
      image: 'takayama.png'
    },
    {
      name: '今井 千尋',
      year: 2019,
      month: 3,
      text: "卒業論文「非周期的タイリングの拡張について」",
      image: 'imai.png'
    },
    {
      name: '宇都宮 將太',
      year: 2019,
      month: 3,
      text: "卒業論文「高分子ミセルの構造形成シミュレーション」",
      image: 'utsunomiya.png'
    },
     {
      name: '荒牧 慧',
      year: 2019,
      month: 3,
      text: "卒業論文「ハードコア・ソフトシェル粒子系ダイヤモンド構造-シミュレーション条件の探索-」。物理学コース卒研発表賞第2位。修士論文「分子動力学法を用いた三次元準結晶におけるフェイゾンゆらぎの測定」",
      image: 'aramaki.jpg',
     },
    {
      name: '安田 有佑',
      year: 2019,
      month: 3,
      text: '卒業論文「正12角形準結晶近似結晶・Frank-Kasper σ構造の生成」。総合理工マスターズ2017優秀ポスター賞。修士論文「二等辺三角形によるジャイロイド構造の自己組織化」',
      image: 'yasuda.png',
    },
   {
      name: "築地　佳純",
      year: 2018,
      month: 3,
      text: "卒業論文「高分子モデルによるミセルの構造形成シミュレーション」",
      image: "tsukiji.jpg"
    },
    {
      name: "川邊　司",
      year: 2018,
      month: 3,
      text: "卒業論文「青銅比準結晶タイリングの電子状態」。2018年3月物理学会発表。「Superspace Approach to the Electronic States of a Quasicrystal」投稿中。",
      image: "kawanabe.jpg"
    },
    {
      name: "太田　勇輝",
      year: 2018,
      month: 3,
      text: "卒業論文「ハードコア-ソフトショルダー粒子系のつくる黄金樽タイリング構造」。2018年3月物理学会発表。",
      image: "ota.jpg"
    },
    {
      name: "北口　有紀",
      year: 2018,
      month: 3,
      text: "卒業論文「金属比タイリングについて」",
      image: "kitaguchi.jpg"
    },
    {
      name: "西浦　智也",
      year: 2018,
      month: 3,
      text: "卒業論文「分子動力学シミュレーションによる正20面体準結晶」。修士論文「3次元準結晶の生成起源の研究」",
      image: "nishiura.jpg"
    },
    {
      name: "田中　秀明",
      year: 2018,
      month: 3,
      longtext: 
      [
        "9月物理学会、12月ソフトマター研究会で発表。",
        "卒業論文「三重周期極小曲面上の剛体球 - ダイヤモンド曲面」",
        "学部長賞受賞。",
        "修士ではオーストラリアの国際会議で発表し、大先生と議論。学会発表多数。",
        "総合理工マスターズ2017優秀ポスター賞。",
        "修士論文「三重周期極小曲面上の規則構造とその自己組織化」",
        "学位授与式で交友会長賞受賞 (2018.3.20)。",
        "Struct. Chem. 28, 105-112 (2016).",
        "ACS NANO (2023)"
      ],
      image: "h-tanaka.jpg"
    },
    {
      name: "高橋　佑輔",
      year: 2018,
      month: 3,
      longtext:
      [
        "3年生の3月に奈良女子大で発表。",
        "9月物理学会、12月ソフトマター研究会で発表。",
        "卒業論文「プリミティブ曲面上の剛体球の相転移」。",
        "卒研発表賞第１位。",
        "修士ではオーストラリアの国際会議で発表するなど学会発表多数。",
        "総合理工マスターズ2017優秀ポスター賞。",
        "修士論文「三重周期極小曲面上のアルダー転移及びコアシェル型スターポリマーの自己集合挙動」",
        "Struct. Chem. 28, 105-112 (2016)."
      ],
      image: "takahashi.jpg"
    },
    {
      name: "野中　健史",
      year: 2017,
      month: 3,
      text: "卒業論文「Event-chainモンテカルロ法による剛体球シミュレーション」。物理学コース卒研発表賞第3位",
      image: "nonaka.jpg"
    },
    {
      name: "胡内　翔太",
      year: 2017,
      month: 3,
      text: "卒業論文「近似結晶を用いたペンローズ格子剛体菱形のシミュレーション」",
      image: "kouchi.png"
    },
    {
      name: "稲田　つばさ",
      year: 2017,
      month: 3,
      text: "卒業論文「一次元青銅比準周期構造の電子スペクトル」",
      image: "inada.png"
    },
    {
      name: "大野　優太",
      year: 2016,
      month: 3,
      text: "卒業論文「3次元フーリエ変換ソフトウェアの作成」。卒研発表第４位。",
      image: "ohno.jpg"
    },
    {
      name: "堤　一真",
      year: 2016,
      month: 3,
      text: "12月ソフトマター研究会発表。卒業論文「ペンローズ格子の剛体菱形による無秩序・秩序転移」。コンピュータプログラマーとして歴代１番の実力。とんがった力があると有名企業に入るのは夢ではありません。",
      image: 'tsutsumi.png'
    },
    {
      name: "別宮　進一",
      year: 2016,
      month: 3,
      longtext:
      [
        "卒業論文「コア-シェル粒子が作る二次元準結晶構造-頂点統計-」。",
        "12月の準結晶研究会と３月の物理学会で発表。",
        "かなりの数の準結晶や新しいタイリング構造を発見。",
        "2013年の12月の準結晶研究会、2014年の３月の物理学会、９月の高分子討論会で発表。",
        "12月の高分子計算機科学研究会・高分子ナノテクノロジー研究会合同討論会では、ポスター賞を受賞。",
        "発表回数は７回。",
        "学位論文「ハードコア-ソフトシェル粒子系の新規タイリング構造」",
        "「青銅比準結晶の数値的発見」で学位授与式総合理工学研究科総代。",
        "nature materials, 16, 987–992 (2017).",
        "Journal of Physics: Conference Series 809, 012003 (2017)."
      ],
      image: "bekku.png"
    },
    {
      name: "坂田　航",
      year: 2015,
      month: 3,
      text: "「コア-シェル型の粒子を用いた構造体のフォトニックバンドギャップの有無」",
      image: "sakata.png"
    },
    {
      name: "多知　裕平",
      year: 2014,
      month: 3,
      text: "「Frenkel-Ladd法による結晶固体の自由エネルギー比較」",
      image: "tachi.png"
    },
    {
      name: "吉井　雄太郎",
      year: 2014,
      month: 3,
      text: "卒業論文「紋様の対称性」",
      image: "yoshii.png"
    },
    {
      name: "新家　正己",
      year: 2014,
      month: 3,
      text: "「ダイヤモンド曲面上における剛体球の相転移」",
      image: "shinke.png"
    },
    {
      name: "上田　良也",
      year: 2014,
      month: 3,
      text: "「非ニュートン流体の粘性について」",
      image: "ueda.jpg"
    },
    {
      name: "山崎　裕貴",
      year: 2013,
      month: 3,
      text: "「階層的ジャイロイド構造の格子高分子シミュレーション」",
      image: "yamazaki.png"
    },
    {
      name: "鍋野　昂祐",
      year: 2013,
      month: 3,
      text: "卒業論文「三次元ソフトマター準結晶の探索」",
      image: "nabeno.png"
    },
    {
      name: "橋本　博充",
      year: 2013,
      month: 3,
      text: "卒業論文「二成分レナードジョーンズ系の等圧シミュレーション」",
      image: "hashimoto.png"
    },
    {
      name: "小林　昭博",
      year: 2013,
      month: 3,
      text: "卒業論文「６回-12回-18回対称準結晶の相転移」",
      image: "kobayashi.png"
    },
    {
      name: "鈴木　良浩",
      year: 2012,
      month: 3,
      text: "卒業論文「自然界のフォトニック結晶」",
      image: "suzuki.jpg"
    },
    {
      name: "木元 将清",
      year: 2012,
      month: 3,
      image: "kimoto.jpg",
      longtext:
      [
        "修士論文タイトル：ジャイロイド曲面上の剛体球の相転移",
        "高分子計算科学研究会・高分子ナノテクノロジー 研究会合同討論会（東京大学山上会館）ポスター発表",
        "「ABC 線状高分子の新規ミクロ相分離構造の モンテカルロシミュレーション」",
        "Phase Transition Dynamics in Soft Matter (YITP, Kyoto)",
        "Poster: Phase Transition of Hard Spheres on the Gyroid Surface",
        "日本物理学会年会（関西学院大学）口頭発表「ジャイロイド曲面上の剛体球の相転移」",
        "Interface Focus (Royal Society) 出版"
      ]
    },
    {
      name: "村田　和哉",
      year: 2012,
      month: 3,
      text: "卒業論文「GPUによるソフトマター計算研究ー構造解析への応用ー」",
      image: "murata.jpg"
    },
    {
      name: '白國 秀典',
      year: 2011,
      month: 3,
      image: 'shirakuni.jpg',
      text: "卒業論文「共連続ジャイロイド・ヘリカル構造の光学的性質」"
    },
    
    {
      name: '中西 裕也',
      year: 2011,
      month: 3,
      image: 'nakanishi.jpg',
      text: '卒業論文「ドデカゴナル準結晶タイリングの構造相転移」'
    },
    {
      name: "大城 辰也",
      year: 2011,
      month: 3,
      image: "oshiro.jpg",
      text: "卒業論文「ハードコア-ソフトシェル粒子系の準結晶形成」。準結晶研究会（蔵王）発表。nature, 506, 208–211 (2014)."
    }
  ];