-
  var items = [
    {
      date: "2024.7.19",
      text: "中蔵君の第2論文やっと出せました。",
      links:
      [
        {
          text: "PRB",
          link: "https://journals.aps.org/prb/abstract/10.1103/PhysRevB.110.014108"
        }
      ]
    },
    {
      date: "2024.07.11",
      text: "松原虎之介君の論文が Nature Communicationsに出版",
      links:
      [
        {
          text: "doi.org/10.1038/s41467-024-49843-4",
          link: "https://doi.org/10.1038/s41467-024-49843-4"
        },
        {
          text: "日本の研究",
          link: "https://research-er.jp/articles/view/135447"
        },
        {
          text: "本学プレスリリース",
          link: "https://newscast.jp/news/8722363"
        },
        {
          text: "Phys.org, EurekAlert, Mirage News, ScienMag, Bioengeer.org, Science Daily, Swift Telecast",
          link: "https://nature.altmetric.com/details/165314553/news"
        },
      ]
    },
    {
      date: "2024.02.14",
      text: "Alan Schoen 100th birth anniversary, Gyroid is everywhere WEBSITE opens",
      links:
      [
        {
          text: "Gyroid is everywhere",
          link: "https://www.phys.kindai.ac.jp/gyroidiseverywhere/"
        }
      ]
    },
    {
      date: "2023.08.01",
      text: "田中秀明君 & 堂寺 & ハイド論文、ACS　NANO掲載（IF:18.027）",
      links:
      [
        {
          text: "doi.org/10.1021/acsnano.2c11929",
          link: "https://doi.org/10.1021/acsnano.2c11929"
        },
        {
          text: "Nano Architecture 1",
          link: "https://www.youtube.com/watch?v=dKEV8u3SVOI"
        },
        {
          text: "Nano Architecture 2",
          link: "https://www.youtube.com/watch?v=-aSdfpjeTn4"
        }
      ]
    },
    {
      date: "2022.11.06",
      text: "高分子準結晶の論文がWikipedia (En)に掲載される",
      links:
      [
        {
          text: "Quasicrystal Ref.40",
          link: "https://en.wikipedia.org/?curid=25350"
        }
      ]
    },
    {
      date: "2022.10.13",
      text: "アーチャー & ラクリッジ論文、Phys. Rev. Eのエディターお薦め論文に選出!",
      links:
      [
        {
          text: "PRE Editors' Suggestion",
          link: "https://journals.aps.org/pre/abstract/10.1103/PhysRevE.106.044602"
        },
        {
          text: "PRE on Twitter",
          link: "https://twitter.com/PhysRevE/status/1580909038707306502?s=20&t=Sc8sAWmn1W8P0mBkKqv1Ew"
        }
      ]
    },
    {
      date: "2020.05.16",
      text: "中蔵丈一郎君、日本物理学会学生優秀発表賞、２回目の受賞",
      links:
      [
        {
          text: "第75回日本物理学会学生優秀発表賞",
          link: "https://www.jps.or.jp/activities/awards/gakusei/2020a-student-presentation-award.php"
        }
      ]
    },
    {
      date: "2020.03.19",
      text: "中蔵丈一郎君、大学院学長賞; Joichiro Nakakura, President's Award for an Outstanding Graduate Student",
      links:
      [
        {
          text: "Joichiro Nakakura, President's Award",
          link: "https://www.kindai.ac.jp/science-engineering/news/research/2020/03/020162.html"
        }
      ]
    },
    {
      date: "2019.12.21",
      text: "米国物理学会誌 Physics Today, トニーの18回対称ステンドグラスの図掲載（ネイチャー論文2014のおまけ）",
      links:
      [
        {
          text: "Physics Today, the 18-fold stained glass of the QC Abbey",
          link: "https://physicstoday.scitation.org/do/10.1063/PT.6.3.20191220a/full/"
        },
        {
          text: "2019年Physics Today, 2014年ネイチャーフィジクスに掲載されたトニーの図について",
          link: "http://www.antoniosiber.org/kvazikristalni_vitraj_en.html"
        }
      ]
    },
    {
      date: "2019.10.15",
      text: "ネイチャーのインスタに掲載",
      links:
      [
        {
          text: "Instagram, Nature Research",
          link: "https://www.instagram.com/p/B3hA9E3BtRW/"
        }
      ]
    },
    {
      date: "2019.09.17",
      text: "ネイチャー・コミュ二ティのブログに寄稿",
      links:
      [
        {
          text: "Behind the paper, Nature Research Device & Materials Eng. Community, the seventh most viewed post of 2019.",
          link: "c-smallBtn" href="https://communities.springernature.com/posts/metallic-mean-quasicrystals-as-aperiodic-approximants-of-periodic-crystals"
        }
      ]
    },
    {
      date: "2019.09.17",
      text: "中蔵丈一郎君が Nature Communicationsに出版、各種メディアに",
      links:
      [
        {
          text: "日本の研究",
          link: "https://research-er.jp/articles/view/82293"
        },
        {
          text: "本学プレスリリース",
          link: "https://www.kindai.ac.jp/news-pr/news-release/2019/09/017876.html"
        },
        {
          text: "財経新聞",
          link: "https://www.zaikei.co.jp/releases/867658/"
        },
        {
          text: "朝日新聞デジタル",
          link: "https://www.asahi.com/and_M/pressrelease/pre_5625890/"
        },
        {
          text: "オプトロニクス　オンライン",
          link: "http://www.optronics-media.com/news/20190919/59957/"
        },
        {
          text: "Nature Communications on Twitter",
          link: "https://twitter.com/NatureComms/status/1173979360086364167?fbclid=IwAR3V9vV_m9aKiuVYy5g7CsJR4td3MEtdBWDZwEMtZfjwnjMKrJiWiKzuaCM"
        }
      ]
    },
    {
      date: "2019.02.28",
      text: "中蔵丈一郎君が総合理工マスターズ2019で優秀ポスター賞を受賞",
    },
    {
      date: "2018.12.29",
      text: "生越先生の論文（共著）、各種メディアに",
      links:
      [
        {
          text: "Phys.org",
          link: "https://phys.org/news/2018-12-self-sorting-molecular-geometries.html"
        },
        {
          text: "金沢大学英語プレスリリース",
          link: "https://www.prnewswire.com/news-releases/kanazawa-university-research-self-sorting-through-molecular-geometries-818546226.html"
        },
        {
          text: "nature chemistry",
          link: "https://www.facebook.com/naturechemistry/photos/a.1659168691016615/2230042113929267/?type=3&theater"
        }
      ]
    },
    {
      date: "2018.12.24",
      text: "クリスマスに贈る青銅比タイリングアート (by pillemaster)",
      links:
      [
        {
          text: "01 わびさび風味でクール",
          link: "https://www.deviantart.com/pillemaster/art/New-Hexagonal-Quasi-Crystal-by-T-Dotera-et-al-734445936?fbclid=IwAR0cDfafJxnmgvBTgSh6zLo9yeutEG0157PzCD1nQY7KiEFZH5THKQGMQDU"
        },
        {
          text: "え！新しい分割ルール",
          link: "https://sta.sh/028rotl8qrxp"
        },
        {
          text: "02　僕もわからん",
          link: "https://www.deviantart.com/pillemaster/art/Bronze-Tile-734529543?fbclid=IwAR3NYj-JwNKoZhCnlbdtZlcy-w_s7lXrkbDdKW0Jdb9jr2dXPSB9kX32TCA"
        }
      ]
    },
    {
      date: "2018.10.06",
      text: "この秋、日本物理学会に学生優秀発表賞が新設され、中蔵丈一郎君の発表が受賞しました。",
      links:
      [
        {
          text: "物理学コース　ニュース",
          link: "https://www.phys.kindai.ac.jp/news/2019_01_25_3348.html"
        },
        {
          text: "理工Facebook",
          link: "https://www.facebook.com/KindaiSciEng/photos/pcb.1997343360309004/1997342880309052/?type=3&theater"
        }
      ]
    },
    {
      date: "2018.11.04",
      text: "海外派遣（中蔵丈一郎君）リュブリャナ大学ステファン研究所 (スロベニア, 11.04-11.10)",
      link: "https://www.ijs.si/ijsw/V001/JSI"
    },
    {
      date: "2018.06.05",
      text: "中蔵丈一郎君スコットランド・エジンバラの研究会にて発表。ペンローズ・タイリングを発見したロジャー・ペンローズ卿に自己紹介し、さらに並んで記念写真を撮り「感無量！」。その後電磁気学で有名なマクスウェルの生家を訪ねました。",
      link: "http://www.icms.org.uk/quasicrystals.php"
    },
    {
      date: "2018.04.01",
      text: "「近大志向×未来理工」理工学部 スポットライト Vol.1",
      links:
      [
        {
          text: "理工学部スポットライト",
          link: "https://www.kindai.ac.jp/sci/research/forefront_research/doutera_tomonari.html"
        },
        {
          text: "YouTube",
          link: "https://youtu.be/vou2qyq4rk8"
        }
      ]
    },
    {
      date: "2018.04.01",
      text: "中蔵丈一郎「新たな発見は必ずできる」",
      links:
      [
        {
          text: "理工学部ページ01",
          link: "https://www.kindai.ac.jp/sci/movie/"
        },
        {
          text: "YouTube",
          link: "https://www.youtube.com/watch?v=nfL7xOFPHIo"
        }
      ]
    },
    {
      date: "2018.03.20",
      text: "田中秀明君が大学院学位授与式で交友会長賞受賞を受賞",
    },
    {
      date: "2018.02.26",
      text: "安田有佑君が総合理工マスターズ2018で優秀ポスター賞を受賞",
    },
    {
      date: "2017.11.30",
      text: "Academist Journalに数式入り解説記事",
      links:
      [
        {
          text: "Academist Journal",
          link: "https://academist-cf.com/journal/?p=6516"
        }
      ]
    },
    {
      date: "2017.11.15",
      text: "近大ぴ～ぷるvol.15に青銅比準結晶の記事"
    },
    {
      date: "2017.11.10",
      text: "読売新聞サイエンス欄（関西版）に青銅比準結晶の記事",
      link: "/assets/images/news/yomiuri201711101.jpeg"
    },
    {
      date: "2017.08.18",
      text: "ドイツ一般科学誌Spektrumに青銅比準結晶の解説",
      links: 
      [
        {
          text: "Spektrum",
          link: "http://www.spektrum.de/news/neue-struktur-stellt-kristalle-in-frage/1495741"
        }
      ]
    },
    {
      date: "2017.08.15",
      text: "青銅比準結晶を発見（Bronze-mean quasicrystals, Nature materials）, 日刊工業新聞8/15, 財経新聞8/15, マイナビ8/17, exciteニュース8/17, グノシー8/17, Biglobe8/17, @niftyニュース8/17, 日本の研究.com8/17, 読売新聞デジタル8/18, 大学プレスセンター8/19, 河北新報デジタル8/19, サンケイBiz8/19, 朝日新聞デジタル8/19, CNETJapan8/19, 新潟日報モア8/19, fabcross for エンジニア8/21,　大学ジャーナルオンライン8/24",
      links:
      [
        {
          text: "abstract",
          link: "../publications/abstracts/nature_materials2017.html"
        },
        {
          text: "本学プレスリリース",
          link: "http://www.news2u.net/releases/155506"
        },
        {
          text: "Nature Materials on Twitter",
          link: "https://twitter.com/naturematerials/status/908679298638168064?lang=en"
        }
     ]
    },
    {
      date: "2017.06.XX",
      text: "世界初のソフト準結晶特集号を編纂（エディター）",
      link: "http://iopscience.iop.org/journal/0953-8984/page/soft-quasicrystals"
    },
    {
      date: "2017.03.XX",
      text: "米国物理学会のメール配信ニュースレターのヘッダーに2013年から高分子準結晶の図が採用",
      link: "/assets/images/news/dpoly2017.png"
    },
    {
      date: "2017.03.01",
      text: "田中秀明君＋高橋佑輔君が総合理工マスターズ2017で優秀ポスター賞を受賞"
    },
    {
      date: "2017.02.08",
      text: "卒業研究発表会　野中健史君が卒研発表賞第3位受賞＋荒牧慧君卒研発表賞第2位受賞"
    },
    {
      date: "2016.09.19",
      text: "第13回準結晶国際会議・冒頭の招待講演",
      link: "https://www.liverpool.ac.uk/conference-on-quasicrystals/"
    },
    {
      date: "2016.02.26",
      text: "卒業式にて田中秀明君が物理学コース成績１位にて学部長賞受賞"
    },
    {
      date: "2016.02.22",
      text: "大学院学位授与式にて別宮進一君が総合理工学研究科総代"
    },
    {
      date: "2016.02.08",
      text: "卒業研究発表会　高橋佑輔君が卒研発表賞第一位受賞　（大野優太君惜しくも第４位）"
    },
    {
      date: "2015.07.25",
      text: "Newton別冊『近畿大学大解剖』p.148に紹介記事"
    },
    {
      text: 'ワークショップ「ショーン幾何学：ジャイロイド」 Workshop, "Schoen Geometry: The Gyroid"',
      date: "2015.04.4~5",
      links:
      [
        {
          text: "Program",
          link: "/assets/images/news/ProgramSchoenGeometry.pdf"
        },
        {
          text: "Poster",
          link: "/assets/images/news/SGposter1s.png"
        },
        {
          text: "日本語案内",
          link: "/assets/images/news/ショーンジオメトリ案内.pdf"
        }
      ]
    },
    {
      text: "JST Science Channel・Science News, Quasicrystals: A third type of solid",
      date: "2015.03.XX",
      link: "http://sciencechannel.jst.go.jp/Q140001/detail/Q140001010.html"
    },
    {
      text: "蔡安邦先生紫綬褒章祝賀会",
      date: "2014.12.22",
      link: "Tsai2014.html"
    },
    {
      text: "別宮進一君（M1）が高分子計算機科学研究会・高分子ナノテクノロジー研究会合同討論会でポスター賞を受賞",
      date: "2014.12.19",
      link: "http://www.kindai.ac.jp/sci/award/009691.html"
    },
    {
      text: "JSTサイエンスチャンネル・サイエンスニュースで準結晶について解説。「第三の固体物質　準結晶の秘密（2014年10月7日配信）」",
      date: "2014.10.--",
      link: "https://www.youtube.com/watch?v=0aFTShX-5Cg"
    },
    {
      text: "月刊「化学」化学掲示板。",
      date: "2014.03.--"
    },
    {
      text: "デロ新聞（プリモシュのいるスロベニアの新聞）3/6",
      date: "2014.03.--",
      link: '/assets/images/news/delo.jpg'
    },
    {
      text: "Nature Physics, News & ViewsにNature論文の解説記事（by ミカエル&シャロン）",
      date: "2014.03.01",
      links:
      [
        {
          text: "ネイチャーフィジクスに掲載されたトニーの図について",
          link: "http://www.antoniosiber.org/kvazikristalni_vitraj_en.html"
        }
      ]
    },
    {
      text: "ソフトマター準結晶形成の仕組みを解明（英科学誌 Natureに掲載 日刊工業新聞2/3，読売新聞2/17，朝日新聞2/27，朝日新聞デジタル，Yahooニュースなど",
      date: "2014.02.13",
      links:
      [
        {
          text: "abstract",
          link: "../publications/abstracts/nature2014.html"
        },
        {
          text: "マイナビニュース",
          link: "https://news.mynavi.jp/article/20140204-a073/"
        },
        {
          text: "本学プレスリリース",
          link: "https://www.kindai.ac.jp/topics/2014/02/-3.html"
        }
      ]
    },
    {
      text: "ネイチャー創刊号について",
      date: "2014.01.--",
      link: "/assets/images/news/FirstIssue.pdf"
    },
    {
      text: "米国物理学会のメール配信ニュースレターのヘッダーに高分子準結晶の図が採用",
      date: "2013.05.--",
      link: "/assets/images/news/dpoly.png"
    },
    {
      text: "授業改善通信4号（科学論文１紹介記事）",
      date: "2013.03.--",
      link: "/assets/images/news/科学論文I.pdf"
    },
    {
      text: "ソフト準結晶の解説がノーベル賞記念論文集（掲載雑誌 Isr. J. Chem.）の2012年の最もダウンロードされた論文とWiley Hottest articlesに選出",
      date: "2013.02.--",
      links:
      [
        {
          text: "2012年の最もダウンロードされた論文",
          link: "http://onlinelibrary.wiley.com/doi/10.1002/ijch.201310001/full#tbl1"
        },
        {
          text: "Wiley Hottest articles",
          link: "http://dmmsclick.wiley.com/share.asp?m=f1mcwdsrj3buhoo5xvm4"
        }
      ]
    },
    {
      text: "5000件以上発表のある学会MRSでの一般講演がNature Chemistry blog「Quasicrystals go mainstream」で取り上げられる。",
      date: "2012.11.30",
      link: "http://blogs.nature.com/thescepticalchymist/2012/11/fall-mrs-2012-quasicrystals-go-mainstream.html"
    },
    {
      text: "近畿大学理工学部通信「研究力による大学ランキング」本学のランキングに関する記事の先駆け",
      date: "2012.06.30",
      link: "/assets/images/news/rikou-tsushin.jpg"
    },
    {
      text: "Journal of Polymer Science Part B: insede Cover",
      date: "2011.12.23",
      link: "https://onlinelibrary.wiley.com/doi/abs/10.1002/polb.23027"
    },
    {
      text: "化学のブレークスルー（理論化学）にMacromolecules 35 (2002), pp.3225-3237が選ばれる。",
      date: "2011.10.15",
      link: "http://www.kagakudojin.co.jp/appendices/c13045/index.html"
    },
    {
      text: "ノーベル化学賞、シェヒトマン氏が受賞。研究室の高分子準結晶の論文がノーベル賞選考委員のリディン氏の書いた詳しい解説に引用（38番）されました。また，ノーベル賞を記念して出版されるIsrael Journal of Chemistryにレビューを執筆しました。",
      date: "2011.10.05",
      links:
      [
        {
          text: "シェヒトマン氏がノーベル化学賞,受賞",
          link: "https://physics.aps.org/story/v28/st14"
        },
        {
          text: "高分子準結晶の論文",
          link: "../research/Polymer/ABCstar/PQ.html"
        },
        {
          text: "Israel Journal of Chemistry",
          link: "../publications/abstracts/ijch.html"
        }
      ]
    },
    {
      text: "大震災被災者にお見舞いを申し上げます。",
      date: "2011.03.11"
    },
    {
      date: "2010.03.21",
      text: "大型放射光施設 (SPring-8)学術成果集に高分子準結晶の記事が掲載。1997年に開設されたSpring-8の12年半の主な学術成果（全28件）をまとめた学術成果集。",
      links:
      [
        {
          text: "SPring-8",
          link: "http://www.spring8.or.jp/ja/news_publications/publications/scientific_results"
        },
        {
          text: "高分子準結晶の記事",
          link: "http://www.spring8.or.jp/ja/news_publications/publications/scientific_results/soft_matter/topic10"
        }
      ]
    },
    {
      text: "新・工科系の物理学 4／工学基礎熱力学・統計力学（数理工学社）出版",
      date: "2009.01.--",
      link: "http://www.saiensu.co.jp/?page=book_details&ISBN=978-4-901683-63-0&YEAR=2009"
    },
    {
      text: "放送大学「熱と温度」テレビ放送スタート",
      date: "2008.04.--"
    },
    {
      text: "Cover, Kobunshi High Polymers, Japan 高分子学会誌表紙",
      date: "2008.02.--"
    },
    {
      text: "高分子準結晶発見を発表。",
      date: "2007.05.--",
      links:
      [
        {
          text: "Polymeric quasicrystal",
          link: "../research/Polymer/ABCstar/PQ.html"
        },
        {
          text: "Physical Review Focus",
          link: "https://physics.aps.org/story/v19/st15"
        }
      ]
    },
    {
      text: "複雑システム科学　テレビ放送スタート",
      date: "2007.04.--"
    },
    {
      text: "Journal of Polymer Science Part B: Polymer Physics Prize for 2007",
      date: "2007.03.--",
      link: "/assets/images/news/prize.jpg"
    },
    {
      text: "Kazunari UEDA, Student Award 国際会議 Aperiodic06にて上田和成君スチューデントアワード。",
      date: "2006.09.--",
      link: "/assets/images/news/ueda_Kazunari_award.jpg"
    },
    {
      text: "Cover JPS BUTSURI 日本物理学会誌表紙",
      link: "https://www.jps.or.jp/books/gakkaishi/2006/08/618.html",
      date: "2006.08.--"
    }
  ];