-
  var items = [
    {
      title: 'Programmable Self-Assembly of Nanoplates into Bicontinuous Nanostructures',
      author: 'Hideaki Tanaka, Tomonari Dotera, Stephen T. Hyde',
      paper:
      {
        title: 'ACS Nano',
        volume: '17',
        page: '15371–15378 (2023)'
      },
      links:
      [
        {
          text: 'doi.org/10.1021/acsnano.2c11929',
          link: 'https://doi.org/10.1021/acsnano.2c11929'
        },
        {
          text: 'Abstract',
          link: 'abstracts/tdh2023.html'
        },
        {
          text: 'Nano Architecture 1',
          link: 'https://www.youtube.com/watch?v=dKEV8u3SVOI'
        },
        {
          text: 'Nano Architecture 2',
          link: 'https://www.youtube.com/watch?v=-aSdfpjeTn4'
        }
      ]
    },
    {
      title: 'Rectangle-triangle soft-matter quasicrystals with hexagonal symmetry',
      author: 'A. J. Archer, T. Dotera, & A. M. Rucklidge',
      paper:
      {
        title: 'Phys. Rev. E',
        volume: '106',
        page: '044602 (2022)'
      },
      links:
      [
        {
          text: 'doi: https://doi.org/10.1103/PhysRevE.106.044602',
          link: 'https://doi.org/10.1103/PhysRevE.106.044602'
        },
        {
          text: 'Abstract',
          link: 'abstracts/adr2022.html'
        }
      ]
    },
    {
      title: 'Metallic-mean quasicrystals as aperiodic approximants of periodic crystals',
      author: 'J. Nakakura, P. Ziherl, J. Matsuzawa & T. Dotera',
      paper:
      {
        title: 'Nature Communications',
        volume: '10',
        page: '4235 (2019)'
      },
      links:
      [
        {
          text: 'doi.org/10.1038/s41467-019-12147',
          link: 'https://www.nature.com/articles/s41467-019-12147-z.epdf?author_access_token=3fYil4maNyuR_CfiLQGdcNRgN0jAjWel9jnR3ZoTv0OcicUJvLD5st1YBJmLiTIV-YJpuCs4GeAklD5-8FqAFWud5Jd3vqbM3xSuCCMaldnUlWueCmi521RnRZIsRxVbdlcSenMjHMzu0aMhFRE64w%3D%3D'
        },
        {
          text: 'Abstract',
          link: 'abstracts/nature_communications2019.html'
        }
      ]
    },
    {
      title: 'Ring shape-dependent self-sorting of pillar[n]arenes assembled on a surface',
      author: 'T. Ogoshi, S. Takashima, N. Inada, H. Asakawa, T. Fukuma, Y. Shoji, T. Kajitani, T. Fukushima, T. Tada, T. Dotera, T. Kakuta & T. Yamagishi',
      paper:
      {
        title: 'Commun. Chem',
        volume: '1',
        page: 'Article number: 92 (2018)'
      },
      links:
      [
        {
          text: 'https://doi.org/10.1038/s42004-018-0094-z',
          link: 'https://www.nature.com/articles/s42004-018-0094-z'
        },
        {
          text: 'Abstract',
          link: 'abstracts/ogoshi2018.html'
        }
      ]
    },
    {
      title: 'Bronze-mean hexagonal quasicrystal',
      author: 'T. Dotera, S. Bekku & P. Ziherl',
      paper:
      {
        title: 'Nature Materials',
        volume: '16',
        page: '987–992 (2017)'
      },
      links:
      [
        {
          text: 'doi:10.1038/nmat4963',
          link: 'https://www.nature.com/nmat/journal/vaop/ncurrent/full/nmat4963.html'
        },
        {
          text: 'Abstract',
          link: 'abstracts/nature_materials2017.html'
        }
      ]
    },
    {
      title: 'Journal of Physics: Condensed Matter, Special issue: Soft quasicrystals',
      author: 'P. Ziherl & T. Dotera',
      links:
      [
        {
          text: '世界初のソフト準結晶の特集号を編纂（エディター）',
          link: 'http://iopscience.iop.org/journal/0953-8984/page/soft-quasicrystals'
        }
      ],
      text: 'ケンブリッジ、オックスフォード、フリードリッヒ・アレクサンダー、ユトレヒト、ソルボンヌ、パリ、大阪、北京、マクマスター、マルティン・ルター、マックス・プランク、シュトゥットガルト、高エネ研、名工大、プリンストンの研究者から投稿がありました。'
    },
    {
      title: 'Origin of 18-fold quasicrystal',
      author: 'S. Bekku, P. Ziherl and T. Dotera',
      paper:
      {
        title: 'Journal of Physics: Conference Series',
        volume: '809',
        page: '012003 (2017)'
      },
      links:
      [
        {
          text: 'doi: 10.1088/1742-6596/809/1/012003',
          link: 'http://iopscience.iop.org/article/10.1088/1742-6596/809/1/012003/pdf'
        }
      ],
      text: 'Proceedings of the 13th International Conference on Quasicrystals (ICQ13) 18-23 September 2016, Kathmandu, Nepal'
    },
    {
      title: 'Hexagulation numbers: the magic numbers of equal spheres on triply periodic minimal surfaces',
      author: 'Tomonari Dotera, Hideaki Tanaka and Yusuke Takahashi',
      paper:
      {
        title: 'Struct. Chem',
        volume: '28',
        page: '105-112 (2016)'
      },
      links:
      [
        {
          text: 'doi: 10.1007/s11224-016-0833-7',
          link: 'http://link.springer.com/article/10.1007/s11224-016-0833-7'
        },
        {
          text: 'Abstract',
          link: 'abstracts/hexagulationNumber.html'
        }
      ],
      text: 'Dedicated to Professor Alan Mackay on the occasion of his 90-th birthday'
    },
    {
      title: 'A geometric view of structure formation in soft colloids',
      author: 'P. Ziherl & T. Dotera',
      paper:
      {
        title: 'Proceedings of the International School of Physics "Enrico Fermi"',
        volume: '193',
        page: '"Soft Matter Self-Assembly", 307-329 (2016)'
      },
      links:
      [
        {
          text: 'doi: 10.3254/978-1-61499-662-0-307',
          link: 'http://ebooks.iospress.nl/volumearticle/44274'
        }
      ]
    },
    {
      title: 'ジャイロイドの迷宮',
      author: '堂寺知成',
      paper:
      {
        title: '現代化学',
        volume: '第523号',
        page: 'p. 32 (2014)'
      }
    },
    {
      title: 'Mosaic two-lengthscale quasicrystals',
      author: 'T. Dotera, T. Oshiro & P. Ziherl',
      paper:
      {
        title: 'Nature',
        volume: '506',
        page: '208–211 (2014)'
      },
      links:
      [
        {
          text: 'doi:10.1038/nature12938',
          link: 'http://www.nature.com/nature/journal/vaop/ncurrent/full/nature12938.html'
        },
        {
          text: 'First Paragraph',
          link: 'abstracts/nature2014.html'
        }
      ]
    },
    {
      title: 'ソフトマター準結晶 Softmatter Quasicrystals',
      author: 'Tomonari Dotera 堂寺知成',
      paper:
      {
        title: '固体物理 Solid State Pysics',
        volume: '48',
        page: 'No.7, 331-340 (2013)'
      }
    },
    {
      title: 'Hard spheres on the triply periodic minimal surface',
      author: 'Tomonari Dotera and Junichi Matsuzawa 堂寺知成・松澤淳一',
      text: '3重周期極小曲面上の剛体球',
      paper:
      {
        title: '日本表面科学会誌',
        volume: '34',
        page: '第１号 pp. 21-26 (2013)'
      }
    },
    {
      title: 'News and Comments: Quest for the Gyroid Labyrinth: Geometry and Topology in Soft Matter',
      author: 'Tomonari Dotera (Department of Physics, Kindai University)',
      text: 'JPSJ Online—News and Comments [August 17, 2012]',
      links:
      [
        {
          text: 'Online',
          link: 'https://journals.jps.jp/doi/10.7566/JPSJNC.9.13'
        }
      ]
    },
    {
      title: 'Toward the discovery of new soft quasicrystals: From a numerical study viewpoint',
      author: 'Tomonari Dotera',
      paper:
      {
        title: 'J. Polym. Sci. Part B: Polym. Phys',
        volume: '50',
        page: '155-167 (2012)'
      },
      text: 'DOI: 10.1002/polb.22395',
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/jpsbpp-review.html'
        }
      ]
    },
    {
      title: 'Quasicrystals in Soft Matter',
      author: 'Tomonari Dotera',
      paper:
      {
        title: 'Israel Journal of Chemistry',
        volume: '51',
        page: '1197-1205 (2011)'
      },
      text: 'ノーベル賞記念号 DOI: 10.1002/ijch.201100146',
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/ijch.html'
        }
      ]
    },
    {
      title: 'Hard Spheres on the Gyroid Surface',
      author: 'Tomonari Dotera, Masakiyo Kimoto and Junichi Matsuzawa',
      paper:
      {
        title: 'Interface Focus',
        volume: 2,
        page: '575-581 (2012)'
      },
      text: 'DOI: 10.1098/rsfs.2011.0092',
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/hsonGyroid.html'
        }
      ]
    },
    {
      title: 'Structural Transformation of Dodecagonal Quasicrystals: Defect-Mediated Approach',
      author: 'Tomonari Dotera and Yuya Nakanishi',
      text: 'Preprint.'
    },
    {
      title: 'Kaleidoscopic morphologies from ABC star-shaped terpolymers',
      author: 'Yushu Matsushita, Kenichi Hayashida, Tomonari Dotera and Atsushi Takano',
      paper:
      {
        title: 'J. Phys. Condense Matt',
        volume: 23,
        page: '284111 (2011)'
      },
      text: 'doi:10.1088/0953-8984/23/28/284111'
    },
    {
      title: 'Hyperbolic Tiling on the Gyroid Surface in a Polymeric Alloy',
      author: 'Tomonari Dotera and Junichi Matsuzawa',
      paper:
      {
        title: 'RIMS, Kokyuroku No',
        volume: 1725,
        page: '80-91(2011)'
      },
      text: '数理解析研究所 講究録 No.1725, 80-91(2011).'
    },
    {
      title: 'ソフト準結晶発見に向けて -シミュレーションの立場から-',
      author: '堂寺知成',
      paper:
      {
        title: '日本結晶成長学会誌',
        volume: 36,
        page: '第１号 pp. 16-23 (2009)'
      }
    },
    {
      title: 'Mesoscopic quasicrystalline and Archimedean tilings in polymer alloys',
      author: 'Tomonari Dotera',
      paper:
      {
        title: '日本結晶学会誌',
        volume: 51,
        page: '第１号 pp. 124-126 (2009)'
      },
      text: '高分子によるメソスケールの準結晶とアルキメデスタイリング'
    },
    {
      title: 'Giant Zincblende Structures Formed by an ABC Star-Shaped Terpolymer/Homopolymer Blend System',
      author: 'Kenichi Hayashida, Atsushi Takano, Tomonari Dotera, and Yushu Matsushita',
      paper:
      {
        title: 'Macromolecules',
        volume: 41,
        page: '(17), 6269-6271 (Communication to the Editor), 2008'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/zns.html'
        },
        {
          text: 'Supporting information.',
          link: 'https://pubs.acs.org/doi/abs/10.1021/ma801367v'
        }
      ]
    },
    {
      title: 'Dodecagonal quasicrystal in a polymeric alloy II: specific heat',
      author: 'Tomonari Dotera',
      paper:
      {
        title: 'Phil. Mag',
        volume: 88,
        page: '2245 (2008)'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/ddqc2.html'
        }
      ]
    },
    {
      title: 'Pearl-Necklace Structures in Core-Shell Molecular Brushes: Experiments, Monte Carlo Simulations, and Self-Consistent Field Modeling',
      author: 'Alexey Polotsky, Marat Charlaganov, Youyong Xu, Frans A. M. Leermakers, Mohamed Daoud, Axel H. E. Mueller, Tomonori Dotera, and Oleg Borisov',
      paper:
      {
        title: 'Macromolecules',
        volume: 41,
        page: '(11), 4020-4028, (2008)'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/axel.html'
        }
      ]
    },
    {
      title: 'Symmetry in Polymers - Tricontinuous Cubic and Tiling Structures -',
      author: 'Yushu MATSUSHITA and Tomonari DOTERA',
      paper:
      {
        title: 'Kobunshi',
        volume: 57,
        page: '(2008) ２月号, pp.71-75'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/kobunshi_jpn2008.html'
        }
      ]
    },
    {
      title: 'Photonic band structure calculations of two-dimensional Archimedean tiling patterns',
      author: 'Kazunari Ueda, Tomonari Dotera, and Tohru Gemma',
      paper:
      {
        title: 'Phys. Rev. B',
        volume: 75,
        page: '(2007) 195122'
      },
      links:
      [
        {
          text: 'pdf',
          link: 'http://repository.kulib.kyoto-u.ac.jp/dspace/handle/2433/50200'
        },
        {
          text: 'Abstract',
          link: 'abstracts/photonic.html'
        }
      ]
    },
    {
      title: 'Polymeric quasicrystal: Mesoscopic quasicrystalline tiling in ABC star polymers',
      paper:
      {
        title: 'Phys. Rev. Lett',
        volume: 98,
        page: '(2007) 195502'
      },
      links:
      [
        {
          text: 'pdf',
          link: 'http://repository.kulib.kyoto-u.ac.jp/dspace/handle/2433/50204'
        },
        {
          text: 'Abstract',
          link: 'abstracts/mesoQc.html'
        },
        {
          text: '14 May 2007 Physical Review Focus',
          link: 'http://focus.aps.org/story/v19/st15'
        },
        {
          text: '21 May 2007 Chemical Engineering News',
          link: 'http://cen.acs.org/articles/85/i21/Polymeric-Quasicrystals.html'
        },
        {
          text: '24 May 2007 Nature, Research Highlights',
          link: 'http://www.nature.com/nature/journal/v447/n7143/full/447356a.html'
        },
        {
          text: "01 June 2007 Science, Editor's Choice",
          link: 'http://www.sciencemag.org/content/vol316/issue5829/twil.dtl#316/5829/1255b'
        }
      ]
    },
    {
      title: 'Mean-Field Theory of Archimedean and Quasicrystalline Tilings',
      author: 'Tomonari Dotera',
      paper:
      {
        title: 'Phil. Mag',
        volume: 87,
        page: 'pp.3011-3019 (2007)'
      },
      text: "Proceedings of Aperiodic '06) Published on line 08 Dec. 2006.",
      links:
      [
        {
          text: 'pdf',
          link: 'http://repository.kulib.kyoto-u.ac.jp/dspace/handle/2433/50526'
        },
        {
          text: 'Abstract (small corrections have been found.)',
          link: 'abstracts/mtaq.html'
        }
      ]
    },
    {
      title: '自然に学ぶ材料プロセッシング',
      author: '高野敦志，堂寺知成',
      text: '名古屋大学21世紀COE「自然に学ぶ材料プロセッシングの創成」p.155 (三共出版2007.3)'
    },
    {
      title: 'Archimedean Tilings Obtained from Polymers',
      author: 'Tomonari Dotera',
      paper:
      {
        title: 'Butsuri',
        volume: 61,
        page: '(2006) No.8, pp.598-602'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/butsuri.html'
        }
      ]
    },
    {
      title: '計算機で描く溶液中の高分子ブラシの姿（コラム）',
      text: '基礎高分子科学（高分子学会場）p.69 （東京化学同人2006）'
    },
    {
      title: 'Dodecagonal quasicrystal in a polymeric alloy',
      author: 'Tomonari Dotera and Tohru Gemma',
      paper:
      {
        title: 'Phil. Mag',
        volume: 86,
        page: 'pp.1085-1091 (2006)'
      },
      text: '(Proceedings of the 9th International Conference on Quasicrystals, Ames, USA, May 2005)',
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/ddqc.html'
        }
      ]
    },
    {
      title: 'みみず鎖モデルの末端間距離の厳密解',
      author: '堂寺知成',
      paper:
      {
        title: '高分子学会会誌「高分子」',
        volume: 54,
        page: '(2005) 7月号 p.492'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/kobunshi_jpn05_kaigai.html'
        }
      ]
    },
    {
      title: 'A Mesoscopic Archimedean Tiling Having a New Complexity in an ABC Star Polymer',
      author: 'A. Takano, W. Kawashima, A. Noro, Y. Isono, N. Tanaka, T. Dotera and Y. Matsushita',
      paper:
      {
        title: 'J. Polym. Sci. Part B: Polym. Phys',
        volume: 43,
        page: '2427-2432 (2005)'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/33434.html'
        }
      ]
    },
    {
      title: '超分子デンドリマーがつくる液晶準結晶',
      author: '堂寺知成',
      paper:
      {
        title: '高分子学会会誌「高分子」',
        volume: 53,
        page: '(2004) 11月号 p.890'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/kobunshi_jpn04_kaigai.html'
        }
      ]
    },
    {
      title: 'Electrophoresis of long deoxyribonucleic acid in curved channels: The effect of channel width on migration dynamics',
      author: 'Masanori Ueda ,Tetsuya Hayama ,Yuzuru Takamura ,Yasuhiro Horiike ,Tomonari Dotera, and Yoshinobu Baba',
      paper:
      {
        title: 'J. Appl. Phys',
        volume: 96,
        page: '(2004) pp. 2937-2944'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/ueda2.html'
        }
      ]
    },
    {
      title: '『きりんのまだら』 -きりんのまだらの逆襲',
      author: '堂寺知成',
      text: 'セミナー 2004年9月号　数セミブック・プラザ p.90',
      links:
      [
        {
          text: '書評',
          link: 'abstracts/kirin_jpn.html'
        }
      ]
    },
    {
      title: '『高分子のつくる空間分割』',
      author: '堂寺知成',
      text: 'かたちの科学 百科事典　(形の科学会編集）p.380 (朝倉書店2004.8)'
    },
    {
      title: 'Voronoi space division of a polymer',
      author: 'Nakako Tokita, Megumi Hirabayashi, Chiaki Azuma, and Tomonari Dotera',
      text: 'Proceedings of the 3rd International Symposium on Slow Dynamics in Complex Systems 3-8 Nov. 2003',
      paper:
      {
        title: 'AIP Conference proceedings',
        volume: 708,
        page: 'pp.267-268 (2004)'
      }
    },
    {
      title: 'Simulation of Gaussian and Excluded-Volume Chains in Curved Slits',
      author: 'Yasuo Y. Suzuki, Tomonari Dotera and Megumi Hirabayashi',
      text: 'Proceedings of the 3rd International Symposium on Slow Dynamics in Complex Systems 3-8 Nov. 2003',
      paper:
      {
        title: 'AIP Conference proceedings',
        volume: 708,
        page: 'pp.257-258 (2004)'
      }
    },
    {
      title: 'Curvature Entropy Trapping of Long DNA under Hydrodynamic Flows in Microfluidic Devices',
      author: 'Masanori Ueda, Tetsuya Hayama, Yuzuru Takamura, Yasuhiro Horiike, Tomonari Dotera and Yoshinobu Baba',
      paper:
      {
        title: 'Jpn. J. Appl. Phys',
        volume: 43,
        page: '(2004), pp.1649-1650'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/ueda1.html'
        }
      ]
    },
    {
      title: 'Monte Carlo Simulation of Microphase Separations',
      author: 'Tomonari Dotera',
      paper:
      {
        title: 'Kobunshi',
        volume: 53,
        page: '(2004), pp.263-266'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/kobunshi_jpn2004.html'
        }
      ]
    },
    {
      title: 'Voronoi space division of a polymer: Topological Effects, free Volume and surface end segregation',
      author: 'Nakako Tokita, Megumi Hirabayashi, Chiaki Azuma, and Tomonari Dotera',
      paper:
      {
        title: 'J. Chem. Phys',
        volume: 120,
        page: '(2004), pp.496-505'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/voronoi.html'
        }
      ]
    },
    {
      title: 'Tricontinuous Cubic Structures in ABC/A/C Copolymer and Homopolymer Blends',
      author: 'Tomonari Dotera',
      paper:
      {
        title: 'Phys. Rev. Lett',
        volume: 89,
        page: '(2002), 205502'
      },
      text: 'Fig. 1 was chosen for Nov. 11 cover illustration and appeared on the top pages of PRL and American Physical Society. journal web sites as Read Article for a week.',
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/abcTri_blend.html'
        }
      ]
    },
    {
      title: 'Monte Carlo Simulations of the Morphology of ABC Starpolymers using the nalnal Bond Method',
      author: 'Tohru Gemma, Akira Hatano and Tomonari Dotera',
      paper:
      {
        title: 'Macromolecules',
        volume: 35,
        page: '(2002), pp.3225-3237'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/abcStar.html'
        }
      ]
    },
    {
      title: 'Polymer confinement in undulated membrane boxes and tubes',
      author: 'Tomonari Dotera and Yasuo Y. Suzuki',
      paper:
      {
        title: 'Phys. Rev. E',
        volume: 62,
        page: '(2000), pp.5318-5323'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/undulation.html'
        }
      ]
    },
    {
      title: 'Microphase Separation Morphology in Multiblock Copolymer Melts Obtained from Monte Carlo Simulations',
      author: 'Tomonari Dotera, Akira Hatano, and Tohru Gemma',
      paper:
      {
        title: 'Kobunshi Ronbunshu',
        volume: 56,
        page: '(1999), pp.667-673'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/gyroid.html'
        }
      ]
    },
    {
      title: "Cell Crystals: Kelvin's Polyhedra in Block Copolymer Melts",
      author: 'Tomonari Dotera',
      paper:
      {
        title: 'Phys. Rev. Lett',
        volume: 82,
        page: '(1999), pp.105-108'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/kelvin.html'
        }
      ]
    },
    {
      title: 'Can Quasicrystals Flow?',
      author: 'Tomonari Dotera',
      paper: 
      {
        title: 'Proceedings of the 6th. International Conference on Quasicrystals, S. Takeuchi and T. Fujiwara eds. World Scientific',
       page: '(1998), pp.501-504'
       },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/qc6.html'
        }
      ]
    },
    {
      title: 'Formation of Multicontinuous Structures in Block Copolymer Melts',
      author: 'Tomonari Dotera and Akira Hatano',
      paper:
      {
        title: 'Progr. Colloid Polym. Sci',
        volume: 106,
        page: '(1997), pp.147-149'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/diamond.html'
        }
      ]
    },
    {
      title: 'The diagonal bond method: A new lattice polymer model for simulation study of block copolymers',
      author: 'Tomonari Dotera and Akira Hatano',
      paper:
      {
        title: 'J. Chem. Phys',
        volume: 105,
        page: '(1996), pp.8413-8427'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/dbm.html'
        }
      ]
    },
    {
      title: 'Collective Atomic Flows in Random Tiling Quasicrystals',
      author: 'Tomonari Dotera',
      paper:
      {
        title: 'Proceedings of the 5th. International Conference on Quasicrystals, C.Janot and R.Mosseri eds. World Scientific (1995)',
        volume: '**',
        page: 'pp.232-235'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/qc5.html'
        }
      ]
    },
    {
      title: 'Ising-Like Transition and Phason Unlocking in Icosahedral Quasicrystals',
      author: 'Tomonari Dotera and Paul J. Steinhardt',
      paper:
      {
        title: 'Phys. Rev. Lett',
        volume: '72',
        page: '(1994), pp.1670-1673'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/phason.html'
        }
      ]
    },
    {
      title: 'Phason Elasticity and Ising Models',
      author: 'Tomonari Dotera',
      paper:
      {
        title: 'Material Science Forum',
        volume: '150-151',
        page: '(1994), pp.375-386'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/isingQC.html'
        }
      ],
      text: '(International Symposium on Quasicrystals and Imperfectly Ordered Crystals, 1993 Aug.-Sept.)'
    },
    {
      title: 'Computer studies of a phase transition of icosahedral quasicrystals',
      author: 'Tomonari Dotera',
      paper:
      {
        title: 'Materials Science and Engineering',
        volume: 'A181/A182',
        page: '(1994), pp.758-761'
      },
      text: '(RQ8: Eighth International conference on Rapid Quench and Metastable Materials, 1993 Aug.)',
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/qctr.html'
        }
      ]
    },
    {
      title: 'Dynamical systems for quasiperiodic chains and new self-similar polynomials',
      author: 'Toshi-kazu Suzuki and Tomonari Dotera',
      paper:
      {
        title: 'J. Phys. A: Math. Gen',
        volume: '26',
        page: '(1993), pp.6101-6113'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/ssp2.html'
        },
        {
          text: 'Figures',
          link: '/pages/research/QC/self-similar_polynomials.html'
        }
      ]
    },
    {
      title: 'Self-similar polynomials and self-similar wave functions obtained from a Fibonacci quasicrystals',
      author: 'Tomonari Dotera',
      paper:
      {
        title: 'Methods of Structural Analysis of Modulated Structures and Quasicrystals, J.M.Perez-Mato, F.J.Zuniga and G.Madariaga eds. World Scientific',
        volume: '**',
        page: '(1991), pp.667-671'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/ssw.html'
        }
      ]
    },
    {
      title: 'Properties of Decapod Defects',
      author: 'Tomonari Dotera, Hyeong-Chai Jeong and Paul J. Steinhardt',
      paper:
      {
        title: 'Methods of Structural Analysis of Modulated Structures and Quasicrystals, J.M.Perez-Mato, F.J.Zuniga and G.Madariaga eds. World Scientific',
        volume: '**',
        page: '(1991), pp.660-666'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/decapod.html'
        }
      ]
    },
    {
      title: 'Comments on Eigenvalue Problems on the Fibonacci Quasicrystals',
      author: 'Tomonari Dotera',
      paper:
      {
        title: '(Proceedings of China-Japan seminars) Quasicrystals, K.H.Kuo and T.Ninomiya eds. World Scientific',
        volume: '**',
        page: '(1991), pp.316-323'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/china.html'
        }
      ]
    },
    {
      title: 'Zeros of Partition Function and High Temperature Expansion for the Two-Dimensional Ising Models',
      author: 'Ryuzo Abe, Tomonari Dotera and Takeshi Ogawa',
      paper:
      {
        title: 'Prog. Theor. Phys',
        volume: '85',
        page: '(1991), pp.509-525'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/zero.html'
        }
      ]
    },
    {
      title: 'Critical Compressibility Factor of Two-Dimensional Lattice Gas - Kagome and Diced Lattices-',
      author: 'Ryuzo Abe, Tomonari Dotera and Takeshi Ogawa',
      paper:
      {
        title: 'Prog. Theor. Phys',
        volume: '84',
        page: '(1990) pp.425-435'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/kagome.html'
        }
      ]
    },
    {
      title: 'High Temperature Expansion for the Ising Model on the Dual Penrose Lattice',
      author: 'Tomonari Dotera and Ryuzo Abe',
      paper:
      {
        title: 'J. Phys. Soc. Jpn',
        volume: '59',
        page: '(1990), pp.2064-2077'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/dualPen.html'
        }
      ]
    },
    {
      title: 'High Temperature Expansion for the Ising Model on the Penrose Lattice',
      author: 'Ryuzo Abe and Tomonari Dotera',
      paper:
      {
        title: 'J. Phys. Soc. Jpn',
        volume: '58',
        page: '(1989), pp.3219-3226'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/pen.html'
        }
      ]
    },
    {
      title: 'Self-similar polynomials obtained from a one-dimensional quasiperiodic model',
      author: 'Tomonari Dotera',
      paper:
      {
        title: 'Phys. Rev. B',
        volume: '38',
        page: '(1988), pp.11534-11542'
      },
      links:
      [
        {
          text: 'Abstract',
          link: 'abstracts/ssp.html'
        },
        {
          text: 'Figures',
          link: '/pages/research/QC/self-similar_polynomials.html'
        }
      ]
    },
  ];