-
  var items = [
    {
      name: '山本　佳奈',
      grade: 'M1',
      text: "卒業論文「ジャイロイド二重膜での剛体球の規則的配置」",
      image: 'yamamoto2021.png'
    },
    {
      name: '辻　一平',
      grade: 'B4',
      text: "卒業論文「」",
    },
     {
      name: '久野　慎悟',
      grade: 'B4',
      text: "卒業論文「」",
    },
    {
      name: '保田　晃平',
      grade: 'B4',
      text: "卒業論文「」",
    },
   {
      name: '堀田　大祐',
      grade: 'B3',
      text: "卒研ゼミ",
    },
    {
      name: '井口　淳介',
      grade: 'B3',
      text: "卒研ゼミ",
    },
    {
      name: '山盛　拓海',
      grade: 'B3',
      text: "卒研ゼミ",
    }
  ];