-
  var items = [
    {
      name: '高瀬　みこと',
      grade: 'M1',
      text: "卒業論文「イベント連鎖モンテカルロ法の再現と拡張」",
      image: 'takase.png'
    },
    {
      name: '森本　康太',
      grade: 'M1',
      text: "卒業論文「準結晶の秩序-無秩序転移について」",
      image: 'morimoto.png'
    },
    {
      name: '中津　健志',
      grade: 'B4',
      text: "卒研ゼミ",
      image: 'nakatsu2019.jpg'    
    },
    {
      name: '早谷　勇佑',
      grade: 'B4',
      text: "卒研ゼミ",
      image: 'hayatani2019.jpg'    
    },
    {
      name: '後藤　蒼矢',
      grade: 'B4',
      text: "卒研ゼミ",
      image: 'goto2019.jpg'    
    },
    {
      name: '小林　孝樹',
      grade: 'B4',
      text: "卒研ゼミ",
      image: 'kobayashi2019.jpg'    
    },
    {
      name: '原　圭亮',
      grade: 'B4',
      text: "卒研ゼミ",
      image: 'hara2019.jpg'    
    },
    {
      name: '山崎　快斗',
      grade: 'B4',
      text: "卒研ゼミ",
      image: 'yamasaki2019.jpg'    
    },
    {
      name: '井上　裕斗',
      grade: 'B3',
      text: "卒研ゼミ",
      image: 'inoue2019.jpg'    
    }
  ];