-
  var items = [
    {
      name: '山元　ありる',
      grade: 'B4',
      text: "卒業論文「」",
     },
    {
      name: 'WU XINGJIAN',
      grade: 'B4',
      text: "卒業論文「」",
    },
   {
      name: '森岡　春翔',
      grade: 'B4',
      text: "卒業論文「」",
    },
    {
      name: '寺島　一翔',
      grade: 'B4',
      text: "卒業論文「」",
    },
    {
      name: '宇佐美　硬生',
      grade: 'B4',
      text: "卒業論文「」",
    }
  ];