-
  var items = [
    {
      name: '山本　佳奈',
      grade: 'M1',
      text: "卒業論文「ジャイロイド二重膜での剛体球の規則的配置」",
      image: 'yamamoto2021.png'
    },
    {
      name: '保田　晃平',
      grade: 'B4',
      text: "卒業論文「」",
    },
   {
      name: '堀田　大祐',
      grade: 'B4',
      text: "卒業論文「」",
    },
    {
      name: 'XIA DONGDONG',
      grade: 'B4',
      text: "卒業論文「」",
    },
    {
      name: '富林　柊亮',
      grade: 'B4',
      text: "卒業論文「」",
    },
    {
      name: '吉良　樹',
      grade: 'B4',
      text: "卒業論文「」",
    }
  ];